# name of the software
name: Prebid
# current version of the software
version: 1.0.0
# licence of the software
license: Apache License
licenseUrl: http://www.apache.org/licenses/LICENSE-2.0

# list of additional links on the right of the top menu
headerLinks:
  - title: GitHub
    url: https://github.com/prebid


# list if additional links on the footer
footerLinks:
  - title: GitHub
    url: https://github.com/prebid/
# - title: Issues
#   url: https://github.com/prebid/Prebid.js/issues?state=open
# - title: About Us
#   url: /about.html


# header
header:
  #color1: "#0084B4"
  #color1: "#55acee"
  color1: "#3b88c3"
  #color1: "#2ABBB0"

  #color1: "#080331"
  #color2: "#673051"
  trianglify: false

# google analytics
analytics:
  account:
  domain:

# github buttons
githubButton:
  user: prebid
  repo: Prebid.js

# twitter buttons
twitter:
  enabled: true
  via:
  hash: prebidjs
  account:

# facebook buttons
facebook:
  enabled: false
  profileUrl:

# Build settings
markdown: kramdown

# Collections
collections:
  - bidders


port: 8080

exclude: ['README.md', 'LICENSE', 'bower.json', 'Gemfile.lock', 'Gemfile', 'vendor']

plugins:
  - jekyll-mentions
  - jemoji
  - jekyll-redirect-from
  - jekyll-sitemap
