# name of the software
name: Prebid
# GitHub Metadata: site.name is set in _config.yml, but many plugins and themes expect site.title to be used instead
title: Prebid
# current version of the software
version: 1.0.0
# licence of the software
license: Apache License
licenseUrl: http://www.apache.org/licenses/LICENSE-2.0

# list of additional links on the right of the top menu
headerLinks:
  - title: GitHub
    url: https://github.com/prebid


# list if additional links on the footer
footerLinks:
  - title: GitHub
    url: https://github.com/prebid/
# - title: Issues
#   url: https://github.com/prebid/Prebid.js/issues?state=open
# - title: About Us
#   url: /about.html


# header
header:
  #color1: "#0084B4"
  #color1: "#55acee"
  color1: "#3b88c3"
  #color1: "#2ABBB0"

  #color1: "#080331"
  #color2: "#673051"
  trianglify: false
  

# google analytics
analytics:
  account:
  domain:

# github buttons
githubButton:
  user: prebid
  repo: Prebid.js

# twitter buttons
twitter:
  enabled: true
  via:
  hash: prebidjs
  account:

# facebook buttons
facebook:
  enabled: false
  profileUrl:

# Build settings
markdown: kramdown

highlighter: rouge

kramdown:
  input:          GFM
  # https://github.com/jekyll/jekyll/pull/4090
  syntax_highlighter: rouge

  # Rouge Highlighter in Kramdown › http://kramdown.gettalong.org/syntax_highlighter/rouge.html
  # span, block element options fall back to global
  syntax_highlighter_opts:
    # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: 'highlight'
    #line_numbers: true # bad idea, spans don't need linenos and would inherit this option
    span:
      line_numbers: false
    block:
      line_numbers: false
      start_line: 1

# Collections
collections:
  - bidders


port: 8080

exclude: ['README.md', 'LICENSE', 'bower.json', 'Gemfile.lock', 'Gemfile', 'vendor', 'node_modules', '_assets', 'mix-manifest.json', 'webpack.mix.js', 'find-ungrouped-bidders.sh' ]

keep_files:
  - assets/css/main-bundle.css
  - assets/js/main-bundle.js

plugins:
  - jekyll-mentions
  - jemoji
  - jekyll-redirect-from
  - jekyll-sitemap
