
    <div class="container">
	    <div class="pb_footer">
	    	All demos, instructions, documentation and code included on the Prebid.org website are released<br /> under the <a href="{{site.licenseUrl}}" target="_blank">{{site.license}}</a>. | <a href="/credits.html">Credits</a>
	    	<p></p>
	    </div>
	</div>

  <!-- / copyrights -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130832561-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130832561-1', {'anonymize_ip': true});
</script>

<script>
	$(document).ready(function() {
		$( 'a[href^="http://"]' ).attr( 'target','_blank' );
	});
</script>
