<!DOCTYPE html>
<html lang="en">

<head>

<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="8074f0b9-4a2f-485b-815a-da2819a048eb" type="text/javascript" async></script>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="_SMhyxJ4MnU9eTUQQNMUwU5W18T5tjNF7A6mumIci-A" />
    <meta name="keywords" content="Header Bidding, Advanced Bidding, Header Bid, Pre-bid">
    <meta name="description" content="{{page.description}}" />
    
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    

    {% if page.head_title %}
        <title>{{page.head_title}}</title>
    {% else %}
        <title>{{page.title}} for Header Bidding</title>
    {% endif %}
    
    <link href="{{site.baseurl}}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/docs.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">
    
    
	<!-- Favicons -->
	<link href="{{site.baseurl}}/assets/images/favicon.png" rel="icon">
	<link href="{{site.baseurl}}/assets/images/apple-touch-icon.png" rel="apple-touch-icon">
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,700,700i>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed" />
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		
    <style>
        #content {
            background:{{site.header.color1}};
            background:linear-gradient(135deg, {{site.header.color1}}, {{site.header.color2}});
        }
    </style>

    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootbox.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/docs.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/easing.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/pbjs_home.js"></script>
</head>

<body>
