<script src="/assets/js/dynamicTable.js" type="text/javascript"></script>

<div class="partners">
	
	<div class="tableTitle"><h3>Prebid.org Founding Members</h3></div>
	<script type="text/javascript">
	var memberDataFounders=[];
	var idx=0;

	{% for item in site.data.partners %}
		{% if item.type == "founder" %}
			memberDataFounders[idx]={};
			memberDataFounders[idx].href="{{item.link}}";
			memberDataFounders[idx].text="<img src=\"{{item.imgURL}}\" width=\"120\">";
			idx++;
		{% endif %}
	{% endfor %}
	</script>

	<div id="memberTableFounders"></div>
	<script>
	   writeDynamicTable({div: "memberTableFounders", data: "memberDataFounders", sort: "rowFirst", maxcols: 2, striped: false} );
	</script>

	<div class="tableTitle"><h3>Prebid.org Leading Members</h3></div>
	<script type="text/javascript">
	var memberDataLeader=[];
	var idx=0;
	{% for item in site.data.partners %}
		{% if item.type == "leader" %}
			memberDataLeader[idx]={};
			memberDataLeader[idx].href="{{item.link}}";
			memberDataLeader[idx].text="<img src=\"{{item.imgURL}}\" width=\"120\">";
			idx++;
		{% endif %}
	{% endfor %}
	</script>
	<div id="memberTableLeader"></div>
	<script>
	  writeDynamicTable({div:"memberTableLeader", data:"memberDataLeader", sort:"rowFirst", maxcols:3, striped: false});
	</script>

	<div class="tableTitle"><h3>Prebid.org Technology Partner Members</h3></div>
	<script type="text/javascript">
	var memberDataTech=[];
	var idx=0;
	{% for item in site.data.partners %}
		{% if item.type == "technology" %}
			memberDataTech[idx]={};
			memberDataTech[idx].href="{{item.link}}";
			memberDataTech[idx].text="<img src=\"{{item.imgURL}}\" width=\"100\">";
			idx++;
		{% endif %}
	{% endfor %}
	</script>
	<div id="memberTableTech"></div>
	<script>
	  writeDynamicTable({div:"memberTableTech", data:"memberDataTech", sort:"rowFirst", striped: false});
	</script>

	<div class="tableTitle"><h3>Prebid.org Publisher Members</h3></div>
	<script type="text/javascript">
	var memberDataPub=[];
	var idx=0;
	{% for item in site.data.partners %}
		{% if item.type == "publisher" %}
			memberDataPub[idx]={};
			memberDataPub[idx].href="{{item.link}}";
			memberDataPub[idx].text="<img src=\"{{item.imgURL}}\" width=\"100\">";
			idx++;
		{% endif %}
	{% endfor %}
	</script>
	<div id="memberTablePub"></div>
	<script>
	  writeDynamicTable({div: "memberTablePub", data: "memberDataPub", sort:"rowFirst", maxcols: 3, striped: false});
	</script>

	<div class="tableTitle"><h3>Prebid.org Community Members</h3></div>
	<script type="text/javascript">
	var memberDataComm=[];
	var idx=0;

	{% for item in site.data.partners %}
		{% if item.type == "community" %}
			memberDataComm[idx]={};
			memberDataComm[idx].href="{{item.link}}";
			memberDataComm[idx].text="<img src=\"{{item.imgURL}}\" width=\"80\">";
			idx++;
		{% endif %}
	{% endfor %}
	</script>

	<div id="memberTableComm"></div>
	<script>
	  writeDynamicTable({div: "memberTableComm", data: "memberDataComm", sort:"rowFirst", maxcols: 2, striped: false});
	</script>


	<div class="tableTitle"><h3>Prebid.js Bidding Partners</h3></div>
	<script type="text/javascript">
	    var partnerData=[];
	    idx=0;
		
		{% assign bidder_pages = site.pages | where: "layout", "bidder" %}
	    {% for item in bidder_pages %}
		partnerData[idx]={};
		partnerData[idx].href="/dev-docs/bidders.html#{{item.biddercode}}";
		partnerData[idx].text="{{item.title}}";
		idx++;
	    {% endfor %}
        </script>

	<div id="partnerTable"></div>
	<script>
	   writeDynamicTable({div:"partnerTable", data:"partnerData"});
	</script>
</div>
