
<div style="margin-top:10px; align:center;">
	
	<hr>
	
	<div class="wthHeader">&nbsp;</div>
	
	<div>
		<p class="wthTitle">Was this page helpful?</p>
	</div>
	
	<div class="wthForm">
	
		<form action="https://getsimpleform.com/messages?form_api_token=e0e505526a819ea20adbe5256ca91d83" method="post">
		
			<input type='radio' name='{{ page.title}}' value="1"/><label for="Yes" class="wthLabel">Yes</label>
			<input type='radio' name='{{ page.title}}' value="0"/><label for="No" class="wthLabel">No</label>
			<p class="wthSubmit">
				<input type='submit' value='Submit' />
			</p>
			
		</form>
	</div>
	
</div>
