// General layout is according to https://sass-guidelin.es/#the-7-1-pattern

// Abstracts should not output any CSS, they just help setup
// the environment

// Abstracts
@import 'abstracts/colors';
@import 'abstracts/tokens';
@import 'abstracts/bootstrap-variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/breakpoints';

// Vendor Includes
@import 'vendor/bootstrap';
@import 'vendor/bourbon';
@import 'vendor/include-media';
@import 'vendor/awesomplete';

// Base Styles
@import 'base/base';
@import 'base/typography';

// Core Layout
@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/footer';

// Components
@import 'components/card';
@import 'components/banner';
@import 'components/buttons';
@import 'components/pb';
@import 'components/social-media';
@import 'components/table';
@import 'components/download-form';
@import 'components/autocomplete-filter';
@import 'components/bidder-list';
@import 'components/search';

// Pages
@import 'pages/home';
@import 'pages/404';
