<div class="col-sm-9 pb-content" markdown="1">

<h1 id="step-by-step-guide-to-google-ad-manager-setup">Step By Step Guide to Google Ad Manager Setup</h1>

<div id="youtube">
<h2>(Sorry, YouTube videos aren't available with your cookie privacy settings.)</h2>
<p><a class="optanon-show-settings">Cookie Settings</a></p><br />
</div>

<script type="text/javascript">
Optanon.InsertHtml('<iframe width="853" height="480" src="https://www.youtube.com/embed/-bfI24_hwZ0?rel=0" frameborder="0" allowfullscreen="true"></iframe>', 'youtube', null, {deleteSelectorContent: true}, 3);
</script>

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Correction:</span>
  Correction: in your Line Item settings, 'Display Creative' should be set to 'One or More', not 'As Many as Possible' as described in the video.
</div>

<ul id="markdown-toc">
  <li><a href="#step-by-step-guide-to-google-ad-manager-setup" id="markdown-toc-step-by-step-guide-to-google-ad-manager-setup">Step by step guide to Google Ad Manager setup</a>    <ul>
      <li><a href="#step-1-add-a-line-item" id="markdown-toc-step-1-add-a-line-item">Step 1. Add a line item</a></li>
      <li><a href="#step-2-add-a-creative" id="markdown-toc-step-2-add-a-creative">Step 2. Add a Creative</a></li>
      <li><a href="#step-3-attach-the-creative-to-the-line-item" id="markdown-toc-step-3-attach-the-creative-to-the-line-item">Step 3. Attach the Creative to the Line Item</a></li>
      <li><a href="#step-4-duplicate-creatives" id="markdown-toc-step-4-duplicate-creatives">Step 4. Duplicate Creatives</a></li>
      <li><a href="#step-5-duplicate-line-items" id="markdown-toc-step-5-duplicate-line-items">Step 5. Duplicate Line Items</a></li>
    </ul>
  </li>
</ul>

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Tip:</span>
  Tip: Manually configuring GAM for Prebid can be a fair amount of work.
Consider using our official command line tool, <a href="/tools/line-item-manager.html">Prebid Line Item Manager</a>, to create the setup. Using this tool may save you time and help you avoid mistakes.
</div>

<h2 id="step-1-add-a-line-item">Step 1. Add a line item</h2>

<p>In Google Ad Manager, create a new order with a $0.50 line item.</p>

<p>Enter all of the inventory sizes that your website has.</p>

<p><img src="/assets/images/demo-setup/inventory-sizes.png" alt="Inventory Sizes" class="pb-md-img" /></p>

<p>Because header bidding partners return prices, set the Line Item <strong>Type</strong> to <strong>Price priority</strong> to enable them to compete on price.</p>

<p><img src="/assets/images/demo-setup/price-priority.png" alt="Price Priority" class="pb-sm-img" /></p>

<p><br /></p>

<p>Set the <strong>Rate</strong> to $0.50 so that this line item will compete with your other demand sources at $0.50 ECPM.</p>

<p><img src="/assets/images/demo-setup/rate.png" alt="Rate" class="pb-sm-img" /></p>

<p><br /></p>

<p>Set <strong>Display Creatives</strong> to <em>One or More</em> since we’ll have one or more creatives attached to this line item.</p>

<p>Set <strong>Rotate Creatives</strong> to <em>Evenly</em>.</p>

<p><img src="/assets/images/demo-setup/display-and-rotation.png" alt="Display and Rotation" class="pb-sm-img" /></p>

<p>Choose the inventory that you want to run header bidding on.</p>

<p>By default, <code class="language-plaintext highlighter-rouge">prebid.js</code> will send the highest bid price to Google Ad Manager using the keyword <code class="language-plaintext highlighter-rouge">hb_pb</code>.</p>

<p>This line item will capture the bids in the range from $0.50 to $1 by targeting the keyword <code class="language-plaintext highlighter-rouge">hb_pb</code> set to <code class="language-plaintext highlighter-rouge">0.50</code> in the <strong>Key-values</strong> section.</p>

<p><strong>You must enter the value to two decimal places, e.g., <code class="language-plaintext highlighter-rouge">1.50</code>.  If you don’t use two decimal places, header bidding will not work.</strong></p>

<p><img src="/assets/images/demo-setup/key-values.png" alt="Key-values" class="pb-lg-img" /></p>

<p><br /></p>

<h2 id="step-2-add-a-creative">Step 2. Add a Creative</h2>

<p>Next, add a creative to this $0.50 line item; we will duplicate the creative later.</p>

<p>Choose the same advertiser we’ve assigned the line item to.</p>

<p>Note that this has to be a <strong>Third party</strong> creative. The <strong>“Serve into a Safeframe”</strong> box can be <strong>UNCHECKED</strong> or <strong>CHECKED</strong> (Prebid universal creative is SafeFrame compatible).</p>

<p>Copy this creative code snippet and paste it into the <strong>Code snippet</strong> box.</p>

<div class="pb-alert pb-alert-important" role="alert"><i class="fa fa-exclamation-circle"></i> <b>Important:</b>
If you’re using the <code class="language-plaintext highlighter-rouge">Send All Bids</code> scenario (where every bidder has a separate
order), the creative and targeting will be different from the example shown here. See <a href="/adops/send-all-bids-adops.html">Send All Bids</a> for details.
</div>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>&lt;script src = "https://cdn.jsdelivr.net/npm/prebid-universal-creative@latest/dist/creative.js"&gt;&lt;/script&gt;
&lt;script&gt;
  var ucTagData = {};
  ucTagData.adServerDomain = "";
  ucTagData.pubUrl = "%%PATTERN:url%%";
  ucTagData.targetingMap = %%PATTERN:TARGETINGMAP%%;
  ucTagData.hbPb = "%%PATTERN:hb_pb%%";

  try {
    ucTag.renderAd(document, ucTagData);
  } catch (e) {
    console.log(e);
  }
&lt;/script&gt;
</code></pre></div></div>

<p><img src="/assets/images/demo-setup/new-creative.png" alt="New creative" class="pb-lg-img" /></p>

<p>Make sure the creative size is set to 1x1.  This allows us to set up size override, which allows this creative to serve on all inventory sizes.</p>

<p class="alert alert-warning">Note that safeframes don’t work with older versions of Prebid.js (v1.23 and before) in combination with recent versions of <a href="https://github.com/prebid/prebid-universal-creative">Prebid Universal Creative</a>.</p>

As of August 2020, privacy regulations have changed such that new creatives entered
in GAM may require a [declaration of the ad technology provider](https://support.google.com/admanager/answer/9972771?hl=en). The first step
is to note the domain you serve the creative from. The examples above offer the
use of the jsdelvr.com CDN. However, you may obtain the creative from a managed
service or you may host it yourself. If you receive a warning from ad manager
about "declaring self-created ad technology", you should be able to work around
this by editing the creative and filling out the "Associated Ad Technology Providers" section as shown in this screen capture:

<p><img src="/assets/images/ad-ops/dfp-creative-setup/dfp-creative-declaration.png" alt="Creative Declaration" class="pb-lg-img" /></p>

<h2 id="step-3-attach-the-creative-to-the-line-item">Step 3. Attach the Creative to the Line Item</h2>

<p>Next, let’s attach the creative to the $0.50 line item you just created.  Click into the Line Item, then the <strong>Creatives</strong> tab.</p>

<p>There will be yellow box showing each ad spot that you haven’t uploaded creatives for yet.  Since you’ve already made the creatives, click <strong>use existing creatives</strong> next to each size.</p>

<p><img src="/assets/images/demo-setup/use-existing-creatives-01.png" alt="Use existing creatives list" class="pb-lg-img" /></p>

<p>In the pop-up dialog that appears, click <strong>Show All</strong> to remove the default size filters and see the 1x1 creatives. Include the prebid creative and click <strong>Save</strong>.</p>

<p><img src="/assets/images/demo-setup/use-existing-creatives-02.png" alt="Use existing creatives dialog" class="pb-lg-img" /></p>

<p>Back in the line item, go into the <strong>Creatives</strong> tab again, and click into the creative you just added.</p>

<p>Then, in the creative’s <strong>Settings</strong> tab, enable the <strong>Size overrides</strong> field and set all your line item’s potential sizes.</p>

<p>Save the creative and go back to the line item.</p>

<p><br /></p>

<h2 id="step-4-duplicate-creatives">Step 4. Duplicate Creatives</h2>

<p>Google Ad Manager has a constraint that one creative can be served to at most one ad unit in a page under GPT’s single request mode.</p>

<p>Let’s say your page has 4 ad slots.  We need to have at least 4 creatives attached to the line item in case more than 2 bids are within the $0.50 range.</p>

<p>Therefore, we need to duplicate our Prebid creative 4 times.</p>

<p>Once that’s done, we have a fully functioning line item with 4 creatives attached that can potentially fill 4 ad slots of varying sizes during a single pageview.</p>

<p><br /></p>

<h2 id="step-5-duplicate-line-items">Step 5. Duplicate Line Items</h2>

<p>Now let’s duplicate our line item for bids above $0.50.</p>

<p>In the Prebid order page, copy the line item with shared creatives.</p>

<p>This way you only have 4 creatives to maintain, and any updates to those creatives are applied to all pre-bid line items.</p>

<p>For example, we can duplicate 3 more line items:</p>

<ul>
  <li>$1.00</li>
  <li>$1.50</li>
  <li>$2.00</li>
</ul>

<p>Let’s go into each of them to update some settings.  For each duplicated line item:</p>

<ol>
  <li>
    <p>Change the name to reflect the price, e.g., “Prebid_1.00”, “Prebid_1.50”</p>
  </li>
  <li>
    <p>Change the <strong>Rate</strong> to match the new price of the line item.</p>
  </li>
  <li>
    <p>In <strong>Key-values</strong>, make sure to target <code class="language-plaintext highlighter-rouge">hb_pb</code> at the new price, e.g., $1.00.  Again, be sure to use 2 decimal places.</p>
  </li>
  <li>
    <p>(Optional) Set the start time to <em>Immediate</em> so you don’t have to wait.</p>
  </li>
</ol>

<p>Repeat for your other line items until you have the pricing granularity level you want.</p>

</div>
