As of August 2020, privacy regulations have changed such that new creatives entered
in GAM may require a <a href="https://support.google.com/admanager/answer/9972771?hl=en">declaration of the ad technology provider</a>. The first step
is to note the domain you serve the creative from. The examples above offer the
use of the jsdelvr CDN. However, you may obtain the creative from a managed
service or you may host it yourself. If you receive a warning from ad manager
about "declaring self-created ad technology", you should be able to work around
this by editing the creative and filling out the "Associated ad technology providers" section as shown in this screen capture:

<p><img src="/assets/images/ad-ops/dfp-creative-setup/dfp-creative-declaration.png" alt="Creative Declaration" class="pb-lg-img" /></p>
