<div class="col-sm-9 pb-content" markdown="1">

<h1 id="setting-up-prebid-video-in-google-ad-manager">Setting up Prebid Video in Google Ad Manager</h1>

<p>This page describes how to set up video creatives in Google Ad Manager for use with Prebid.js.</p>

<p>For general Google Ad Manager line item setup instructions, see the other pages in this section.</p>

<p>For engineering setup instructions, see
<a href="/dev-docs/show-video-with-a-dfp-video-tag.html">Show Video Ads with a Google Ad Manager Video Tag</a>.</p>

<ul id="markdown-toc">
  <li><a href="#line-item-setup" id="markdown-toc-line-item-setup">Line Item Setup</a></li>
  <li><a href="#creative-setup" id="markdown-toc-creative-setup">Creative Setup</a></li>
  <li><a href="#further-reading" id="markdown-toc-further-reading">Further Reading</a></li>
</ul>

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span
>
  <span class="sr-only">Tip:</span>
  Tip: Manually configuring GAM for Prebid can be a fair amount of work.
  Consider using our official command line tool, <a href="/tools/line-item-manager.html">Prebid Line Item Manager</a>, to create the setup. Using this tool may save you time and help you avoid mistakes.
</div>

<h2 id="line-item-setup">Line Item Setup</h2>

<ol>
  <li>In the <b>New line item</b> dialog, choose "Video".</li>
  <li>Select the appropriate Line Item Type, etc.</li>
  <li>In the <b>Expected creatives</b> section, choose your video size, e.g., 640x480v.</li>
  <li>Set the dates, rate, limit, and targeting as desired. For example, for <a href="/dev-docs/publisher-api-reference/setConfig.html#setConfig-Send-All-Bids">SendAllBids</a> include targeting for "hb_bidder_rubicon=rubicon" as well as the hb_pb_rubicon targeting. This isn't needed if only creating one set of orders for all bidders.</li>
  <li>Remember to set the hb_pb=BUCKET targeting for each line item, or hb_pb_BIDDER=BUCKET if using separate line items for each bidder.</li>
  <li>Save the line item.</li>
</ol>
<p>Be sure to duplicate your line item and video creative for each Prebid price bucket you intend to create. </p>
<p class="alert alert-warning">By default, Prebid.js caps all CPMs at $20.  As a video seller, you may expect to see CPMs higher than $20.  In order to receive those bids, you’ll need to make sure your dev team implements custom price buckets as described in the <a href="/dev-docs/show-video-with-a-dfp-video-tag.html#implement-custom-price-buckets">engineering setup instructions</a>.  Once those changes are made on the engineering side, there should be no changes required from the ad ops side to support CPMs over $20.</p>

<h2 id="creative-setup">Creative Setup</h2>

When setting up video creatives, it's important to understand where the VAST XML is stored for each of your bidders. The most common place to store VAST XML is AppNexus' cache, but some bidders (such as RubiconProject and SpotX) use their own cache services. To support such
bidders, you will need to choose one of the following approaches:
<ul>
<li>Create a separate line item for each bidder.</li>
<li>Include a creative for each cache service utilized by your implementation.</li>
<li>Use the <a href="/dev-docs/publisher-api-reference/setConfig.html#setConfig-vast-cache">ignoreBidderCacheKey</a> option on setConfig({cache}).</li>
</ul>

<h3 id="creative-single-cache">Single Cache Location</h3>

If you only use bidders that provide full VAST responses, no special setup is needed. Otherwise, do the following:

<p>1. For each line item you create, click on the <b>Creatives</b> tab, click the <b>ADD CREATIVE</b> button, and choose the size you're entering.</p>

<p>2. In the dialog that appears, choose <b>Redirect</b>.</p>

<p>3. Set the <b>VAST tag URL</b> to the cache location.

<p>If you’re using a single order for all bidders, then the VAST URL will be the same for each bidder:</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html">   https://prebid.adnxs.com/pbc/v1/cache?uuid=%%PATTERN:hb_uuid%%
or
   [other bidder cache location]</code></pre></figure>

<p>If you’re using different orders for each bidder, the VAST URL for each will include the bidder-specific targeting variable:</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html">   https://prebid.adnxs.com/pbc/v1/cache?uuid=%%PATTERN:hb_uuid_BIDDERCODE%%
or
   [other bidder cache location]</code></pre></figure>

<p class="alert alert-warning">This VAST tag URL is <b>required</b> in order to show video ads. It points to a server-side cache hosted by your Prebid Server provider.</p>

<p class="alert alert-info"><strong>Prebid Cache and the VAST creative URL warning</strong><br />
   Google Ad Manager will show you a warning stating that fetching VAST from the creative
   URL failed. This is expected, since the creative URL above points
   to a server-side asset cache hosted by Prebid Server.</p>

<p>4. Set the <b>Duration</b> to <b>1</b>.</p>

<p>The resulting creative should look something like the following:</p>

<p><img src="/assets/images/ad-ops/dfp-creative-setup/appnexus_vast_tag.png" alt="Google Ad Manager Video Creative Setup"/></p>

<h3 id="creative-multiple-cache">Multiple Cache Locations</h3>

If you're utilizing any bidders that cache their own VAST, you have two options:

<ul>
<li>If you're using Prebid.js 4.28 or later, you can specify the <a href="/dev-docs/publisher-api-reference/setConfig.html#setConfig-vast-cache">ignoreBidderCacheKey</a> option on setConfig({cache}). This will cause the browser to generate a VAST wrapper and cache it in your standard location. Then you can use the instructions
above for "Single Cache Location". The tradeoff is that this approach requires
the video player to unwrap one extra level of VAST.</li>
<li>Utilize creative-level targeting in the ad server. Keep reading for more details.</li>
</ul>

To set up multiple video creatives in the same line item (i.e., to run AppNexus, Rubicon, and SpotX all together in the same video line item), you can utilize creative targeting.
<br/>
<br/>
<p>
1. In the line item's <b>Expected creatives</b> box, choose <b>Creative Targeting</b> and "Add New Targeting".

<p>
2. Give the targeting set a name like "Prebid Default Video Cache URL" and set <b>Custom Targeting</b> as appropriate, e.g., "hb_bidder is none of rubicon, spotx". Save the targeting.

<p>
3. For each bidder that uses their own cache, click <b>ADD SIZE</b> in the "Expected creatives" section. Again, choose <b>Creative Targeting</b> and "Add New Targeting".

<p>
4. Give the targeting a name like "Prebid Rubicon Video Cache URL". Set <b>Custom Targeting</b> appropriately, e.g., "hb_bidder is any of rubicon". Save the targeting.

<p>
5. Save the line item.

<p>Now that the targeting is defined, we're going to add the creatives.</p>

<p>
6. Go to the line item's <b>Creatives</b> tab.

<p>
7. Make one creative for each of the targets. There are a couple of ways to do this on the GAM UI, but each approach will result in a creative entry screen similar to the screenshot above for the "Single Cache Location" process. Enter a name (e.g. "AppNexus VAST tag") and the VAST URL as described above.

<p>
8. The end result should look something like this:

<p><img src="/assets/images/ad-ops/dfp-creative-setup/video_creatives_final.png" alt="Google Ad Manager Video Creative Setup" /></p>

<p>That’s it as far as Prebid setup is concerned.  At this point you can add any other options you would normally use, such as labels or tracking URLs.</p>

<h2 id="further-reading">Further Reading</h2>

<ul>
  <li><a href="/dev-docs/show-video-with-a-dfp-video-tag.html">Show Video Ads with Google Ad Manager</a> (Engineering setup)</li>
  <li><a href="https://support.google.com/admanager/answer/1068325?hl=en&amp;ref_topic=2480647">Create a Master Video Tag Manually</a> (Google Ad Manager)</li>
  <li><a href="https://support.google.com/dfp_premium/answer/1080597">Add Key-Values to a Master Video Ad Tag</a> (Google Ad Manager)</li>
  <li><a href="https://support.google.com/admanager/answer/2376981">Google Ad Manager Macros</a> (Google Ad Manager)</li>
</ul>
