<div class="col-sm-9 pb-content" markdown="1">
			
<h1 id="setting-up-prebid-video-in-google-ad-manager">Setting up Prebid Video in Google Ad Manager</h1>

<p>This page describes how to set up video creatives in Google Ad Manager for use with Prebid.js.</p>

<p>For general Google Ad Manager line item setup instructions, see the other pages in this section.</p>

<p>For engineering setup instructions, see
<a href="/dev-docs/show-video-with-a-dfp-video-tag.html">Show Video Ads with a Google Ad Manager Video Tag</a>.</p>

<ul id="markdown-toc">
  <li><a href="#line-item-setup" id="markdown-toc-line-item-setup">Line Item Setup</a></li>
  <li><a href="#creative-setup" id="markdown-toc-creative-setup">Creative Setup</a></li>
  <li><a href="#additional-setup-for-long-form-ad-pods" id="markdown-toc-additional-setup-for-long-form-ad-pods">Additional Setup for Long-Form (ad pods)</a>    <ul>
      <li><a href="#further-reading" id="markdown-toc-further-reading">Further Reading</a></li>
    </ul>
  </li>
</ul>

<h2 id="line-item-setup">Line Item Setup</h2>

<ul>
  <li>
    <p>In the <strong>New line item</strong> dialog, under <strong>Inventory sizes</strong>, select the <strong>Video VAST</strong> radio button.</p>
  </li>
  <li>
    <p>In the <strong>Master</strong> text area, add your video player size(s).</p>
  </li>
</ul>

<p><img src="/assets/images/ad-ops/dfp-creative-setup/dfp-creative-setup-03.png" alt="Google Ad Manager New Line Item" class="pb-md-img" /></p>

<p>Other line item settings and key/value targeting are the same as <a href="/adops/step-by-step.html#step-1-add-a-line-item">those recommended for Prebid display</a>, with one exception:</p>

<ul>
  <li>By default, Prebid.js caps all CPMs at $20.  As a video seller, you may expect to see CPMs higher than $20.  In order to receive those bids, you’ll need to make sure your dev team implements custom price buckets as described in the <a href="/dev-docs/show-video-with-a-dfp-video-tag.html">engineering setup instructions</a>.  Once those changes are made on the engineering side, there should be no changes required from the ad ops side to support CPMs over $20.</li>
</ul>

<p class="alert alert-success">Be sure to duplicate your line item and video creative for each Prebid price bucket you intend to create. You may also need separate video line items for each cache service being used. For example, if both AppNexus and Rubicon Project are bidders, you’ll need separate line items to support the different cache URLs required.</p>

<h2 id="creative-setup">Creative Setup</h2>

<p>1. For each line item you created above, select <strong>new creative set</strong>.</p>

<p>2. In the dialog that appears, set the <strong>creative set type</strong> to <strong>“Redirect”</strong></p>

<p>3. Set the <strong>VAST tag URL</strong> to the cache location. Note that each bidder, e.g. Rubicon Project, may have a different cache location URL.</p>

<p>If you’re using a single order for all bidders, then the VAST URL will be the same for each bidder:</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html">   https://prebid.adnxs.com/pbc/v1/cache?uuid=%%PATTERN:hb_uuid%%
or
   [other bidder cache location]</code></pre></figure>

<p>If you’re using different orders for each bidder, the VAST URL for each will need to be different:</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html">   https://prebid.adnxs.com/pbc/v1/cache?uuid=%%PATTERN:hb_uuid_BIDDERCODE%%
or
   [other bidder cache location]</code></pre></figure>

<p class="alert alert-warning">This VAST tag URL is <strong>required</strong> in order to show video ads.  It points to
   a server-side cache hosted by your Prebid Server provider.</p>

<p class="alert alert-info"><strong>Prebid Cache and the VAST creative URL warning</strong><br />
   Google Ad Manager will show you a warning that fetching VAST from the creative
   URL failed.  This is expected, since the creative URL above points
   to a server-side asset cache hosted by Prebid Server.</p>

<p>4. Set the <strong>duration</strong> to <strong>1</strong></p>

<p>The resulting creative should look something like the following:</p>

<p><img src="/assets/images/ad-ops/dfp-creative-setup/dfp-creative-setup-04.png" alt="Google Ad Manager Video Creative Setup" class="pb-md-img" /></p>

<p>That’s it as far as Prebid setup is concerned.  At this point you can add any other options you would normally use, e.g., labels or tracking URLs.</p>

<h1 id="additional-setup-for-long-form-ad-pods">Additional Setup for Long-Form (ad pods)</h1>

<h2 id="further-reading">Further Reading</h2>

<ul>
  <li><a href="/dev-docs/show-video-with-a-dfp-video-tag.html">Show Video Ads with Google Ad Manager</a> (Engineering setup)</li>
  <li><a href="https://support.google.com/admanager/answer/1068325?hl=en&amp;ref_topic=2480647">Create a Master Video Tag Manually</a> (Google Ad Manager)</li>
  <li><a href="https://support.google.com/dfp_premium/answer/1080597">Add Key-Values to a Master Video Ad Tag</a> (Google Ad Manager)</li>
  <li><a href="https://support.google.com/admanager/answer/2376981">Google Ad Manager Macros</a> (Google Ad Manager)</li>
</ul>

</div>
