

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}

h1 {
  font-size: 40px;
}

h3 {
  color: #95a5a6;
  font-weight: 400;
}

h4 {
  color: #95a5a6;
  font-weight: 400;
  font-size: 20px;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

.centered {
  text-align: center;
}

/* Links */

a {
  color: #3498db;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar-default {
  background-color: #3498db;
  border-color: transparent;
  padding-top: 15px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.navbar-toggle {
  background: #fff;
}

.navbar-search { 
	
}

/* Helpers */

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-control {
  height: 42px;
  font-size: 18px;
  width: 280px;
}

i {
  margin: 8px;
  color: #3498db;
}

/* HeaderWrap */

#headerwrap {
  background: url(../images/topgraph.png) no-repeat center top; 
  position: relative;
  background-color: #3e86c3;
  background-size: cover;
  margin-top: 0px;
  padding-top: 40px;
  height:100vh;
  background-attachment: scroll;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
}


#headerwrap h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
  color: white;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}

#headerwrap h2 {
  text-align: center;
  margin: 60px 200px 15px 200px;
  color: white;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  
}

#headerwrap .header-links { 
	position: absolute; 
    bottom: 0; 
    text-align: center;
    width: 100%; 
    height: 160px; 
    color: #fff;
    padding-bottom: 20px;
}

#headerwrap ul { 
	text-decoration: none;
	list-style-type: none; 
	margin: 0;
	overflow: hidden; 
	
}

#headerwrap li { 
	float: left;
	padding-left: 18%;
	font-size: 24px;
}



#headerwrap img { 
	width: 100px;
	height: 100px;
}

/* nav bar dropdown */

.subnav { 
	top: 50px;
	background-color:#ff0000;
}


@media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media (max-width: 768px) {
  #headerwrap {
    padding-top: 20px;
  }

  #headerwrap h1 {
    margin-top: 60px;
    font-size: 36px;
  }
  
  #headerwrap h2 {
    margin: 30px 50px 15px 50px;
    font-size: 20px;
  }
  
  #headerwrap .header-links { 
	position: absolute; 
    bottom: 100px; 
    text-align: center;
    width: 100%; 
    height: 320px; 
    color: #fff;
    padding-bottom: 10px;
}

  #headerwrap ul { 
	padding-left: 0;
  }
  
  	#headerwrap li { 
	  	font-size: 18px;
	  	display: block !important;
	  	padding: 20px 0px;
	  	text-align: center;
	  	width: 100%;

	}	
	
	#headerwrap img { 
	width: 70px;
	height: 70px;
	
	.credits { 
		font-size: 15px;
	}
}

@media (max-width: 411px) {
	
	#headerwrap h1 {
    	margin-top: 60px;
		font-size: 23px;
  	}
  	
  	#headerwrap h2 {
    	margin: 30px;
		font-size: 20px;
  	}
  	
  	#headerwrap .header-links { 
		position: absolute; 
		bottom: 120px; 
		text-align: center;
		width: 100%; 
		height: 320px; 
		color: #fff;
		padding-bottom: 0;
	}
	
	headerwrap li { 
	  	font-size: 14px;
	  	display: block !important;
	  	padding: 10px 0px;
	  	text-align: center;
	  	width: 100%;

	}
	
	.credits { 
		font-size: 15px;
	}
	

}

@media (max-width: 375px) {
	
	#headerwrap {
    	padding-top: 20px;
  	}
  	
  	#headerwrap h1 {
    	margin-top: 60px;
		font-size: 24px;
  	}
  	
  	#headerwrap h2 {
    	margin: 30px;
		font-size: 20px;
  	}
  	
  	#headerwrap .header-links { 
		position: absolute; 
		bottom: 60px; 
		text-align: center;
		width: 100%; 
		height: 320px; 
		color: #fff;
		padding-bottom: 0;
	}

  	
  	#headerwrap li { 
	  	font-size: 14px;
	  	display: block !important;
	  	padding: 10px 0px;
	  	text-align: center;
	  	width: 100%;

	}	
	
	.credits { 
		font-size: 15px;
	}

}

@media (max-width: 360px) { 
	
	.credits { 
		font-size: 15px;
	}
	
}

	


/* Copyrights */

#copyrights {
  background: #3498db;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #fff;
}

#copyrights a {
  color: #fff;
}

.credits {
  color: #fff;
}

/* these should be generated by Jekyll?*/

.bs-docs-social{margin-bottom:20px;text-align:center}
.bs-docs-social-buttons{display:inline-block;margin-bottom:0;padding-left:0;list-style:none}
.bs-docs-social-buttons li{display:inline-block;line-height:1;padding:5px 8px}
.bs-docs-social-buttons .twitter-follow-button{width:225px!important}
.bs-docs-social-buttons .twitter-share-button{width:98px!important}

.github-btn{border:0;overflow:hidden}


.bs-docs-footer-links  { 
	list-style-type: none; 
	margin: 0;
	overflow: hidden; 
	padding: 0; 
	text-decoration: none; 
}

.bs-docs-footer-list { 
	text-align: center;
	color: #fff;
	float: left; 
}
