

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}

h1 {
  font-size: 40px;
}

h3 {
  color: #95a5a6;
  font-weight: 400;
}

h4 {
  color: #95a5a6;
  font-weight: 400;
  font-size: 20px;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

.centered {
  text-align: center;
}

/* Links */
a {
  color: #3498db;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* external links have an icon after them*/

a[href^="http://"]:after,
a[href^="https://"]:after {
  content: url(/assets/images/Icon_External_Link.png);
  margin: 0 0 0 5px;
}

a[href^="http://prebid.org/"]:after,
a[href^="https://prebid.org/"]:after {
  content: '';
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar { 
	z-index:100
}

.navbar-default {
  background-color: #3498db;
  border-color: transparent;
  padding-top: 15px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.navbar-toggle {
  background: #fff;
}

/* dropdown*/

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

/* Partners */

.partners { 
	text-align: center;
}

.partners div.title { 
	width:100%;
	padding-top: 30px;
}

.partners div.tableTitle { 
	width:100%;
	padding-top: 30px;
	padding-bottom: 30px;
}


.partners h3 { 
	
	margin:0;
	padding: 0;
	font-size:large;
}

.partners img.founders { 
	
	width: 100px;
}

.partners img.standard { 
	
	width: 75px;
}

.partners ul { 
	
	list-style-type: none;
    display: table;
	width: 100%;
    
}

.partners li { 
	display: table-cell;
	text-align: center;
}

.partners a[href^="http://"]:after,
    a[href^="https://"]:after {
      content: "";
    }

/* Helpers */

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

i {
  margin: 8px;
  color: #3498db;
}

/* 404 error */

.error404 { 
	width:100%;
	height: 100%;
	text-align: center;
}

.error404 h1 { 
	color: #FF0000;
	font-size: 60px;
	font-weight: bold;
}

/* HeaderWrap */
/*#3e86c3;*/
#headerwrap {
  background: url(../images/topgraph.png) no-repeat center top; 
  position: relative;
  background-color: #3e86c3;
  background-size: cover;
  margin-top: -20px;
  padding-top: 100px;
  height:100vh;
  background-attachment: scroll;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  z-index:1
}


#headerwrap h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 1px;
}

#headerwrap h2 {
  text-align: center;
  margin: 50px 200px 15px 200px;
  color: white;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  
}

#headerwrap .header-links { 
	position: absolute; 
    bottom: 0; 
    text-align: center;
    width: 100%; 
    height: 160px; 
    color: #fff;
    padding-bottom: 20px;
}

#headerwrap ul { 
	text-decoration: none;
	list-style-type: none; 
	margin: 0;
	overflow: hidden; 
	
}

#headerwrap li { 
	float: left;
	padding-left: 18%;
	font-size: 24px;
}

#headerwrap img { 
	width: 100px;
	height: 100px;
}

/* page layout */

.bs-docs-container { 
	margin-top:50px; 
	left:0px; 
	width:100%; 
	padding:50px 50px;
}

.col-sm-9 h2 { 
	
	font-size: 36px;
	color: #3e86c3;
	padding-top: 20px;
	margin:0;
	font-weight: normal;
}

.col-sm-9 h4 { 
	
	font-size: 20px;
	color: #3e86c3;
	padding-top: 10px;
	margin:0;
	font-weight: normal;
}

.col-sm-9 p.main-text { 
	font-size: 20px;
	color: #333333;
	padding-top: 20px;
	margin:0;
}

.col-sm-9 p.main-text a { 
	font-size: 20px;
}

.col-sm-9 ul { 
	margin-top:10px;
}

/* side bar */

.list-group-item { 
	border-width:0;
	color: #333333;
	font-size: 14px;
	background-color: transparent;
	margin:0;
	padding: 3px 0 3px 5px;
}

/* example page layout */

.col-md-9 { 
	
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color: #cccccc;
}

.list-group-item-header { 
	color: #333333;
}

.sidebar { 
	margin-top: 30px;
}


/* responsive */
@media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media (max-width: 768px) {
  #headerwrap {
    padding-top: 20px;
  }

  #headerwrap h1 {
    margin-top: 60px;
    font-size: 40px;
	
  }
  
  #headerwrap h2 {
    margin: 30px 50px 15px 50px;
    font-size: 20px;
      }
  
  #headerwrap .header-links { 
	position: absolute; 
    bottom: 100px; 
    text-align: center;
    width: 100%; 
    height: 320px; 
    color: #fff;
    padding-bottom: 50px;
}

  #headerwrap ul { 
	padding-left: 0;
  }
  
  	#headerwrap li { 
	  	font-size: 18px;
	  	display: block !important;
	  	padding: 20px 0px;
	  	text-align: center;
	  	width: 100%;

	}	
	
	#headerwrap img { 
	width: 70px;
	height: 70px;
	
	.credits { 
		font-size: 15px;
	}
}

/* External links should have an icon denoting them */

a[href^="http://"]:after,
a[href^="https://"]:after {
  content: url(/assets/images/Icon_External_Link.png);
  margin: 0 0 0 5px;
}

a[href^="http://prebid.org/"]:after,
a[href^="https://prebid.org/"]:after {
  content: '';
  margin: 0;
}

.bs-docs-container { 
	margin-top: 100px;
	
}



/*content design */

.bs-docs-masthead {
  padding-top:30px;
  padding-bottom:30px;
  margin-bottom:0px;
}

.bs-docs-masthead h1 {
  font-weight: 500;
  margin-bottom: 15px;
}

.bs-docs-masthead .version {
  color: white;
}

.bs-docs-masthead .btn.btn-default {
  color: #ec971f;
  background: #fefefe;
  border-color: white;
}

.bs-docs-masthead .btn.btn-default:hover {
  background: #eee;
}

.bs-docs-masthead .btn.btn-callout {
    background: #ec971f;
    color: #fefefe;
}

.btn.btn-outline {
  color: #FF8800;
  color: #f0ad4e;
  color: #ec971f;
  border-color: #cccccc;

}

.btn.btn-outline:hover {
  color: white;
  background: #2ABBB0;
  background: #3b88c3;
  border-color: #2ABBB0;
  border-color: #3b88c3;
}


.bs-docs-masthead .note {
  font-size: 18px;
  color: white;
  margin-top: 20px;
}

.bs-docs-featurette-title {
  font-weight: 300;
  margin-bottom: 15px;
  color: #444;
}

.bs-docs-featurette .col-sm-4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bs-docs-featurette .col-sm-4 p {
  margin-bottom: 15px;
}

.bs-docs-featurette h3 {
  font-weight: 500;
  color: #444;
}

.bs-docs-header {
  margin-bottom: 0px;
}
.bs-docs-header h1, .bs-docs-header p {
  margin-right:0px;
  color: white;
}

.bs-docs-sidebar .nav > li > a {
  font-size:15px;
}
.bs-docs-sidebar .nav .nav > li > a {
  font-size:14px;
}
.back-top-top {
  font-size:13px;
}

#content {
  position:relative;
}
.bs-docs-header#content:after {
  content:"";
  position:absolute;
  bottom:0px;
  right:0px;
  height:50px;
  width:30%;
  background:linear-gradient(135deg, transparent 50px, white 50px);
}

img {
  max-width: 100%;
}


.full-rule {
  margin-top: 50px;
  margin-bottom: 50px;
}

.full-rule.thin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bs-docs-section {
    text-indent: auto;
    hyphens: auto;
}

@media (min-width: 1024px) {
    .bs-docs-section {
        line-height: 1.6;
        font-size: large;
        margin-right: 10em;
    }

    .container {
        width: 88%;
    }
}

.bs-docs-section h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.pb-docs {
  padding-top: 50px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

.pb-home {
  margin-top: 0;
  padding-top: 0;
}

.pb-home .benefits img {
  height: 80px;
}

.pb-home img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.pb-home .bidder-logos img {
  width: auto;
  height: auto;
}

.pb-home .partner-logos .logo-block {
  height: 100px;
  vertical-align: center;
  font-size: 20px;
  font-weight: 500;
}

.pb-home .partner-logos .logo-block img {
  max-height: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

.pb-home .bidder-logos h3 {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  /*color: #2ABBB0;*/
  color: #3b88c3;
  /*font-size: 25px;*/
  font-weight: 300;
}

@media (min-width: 768px) {
  #pb-home-demo {
    margin-top: 30px;
  }
  #pb-home-demo .col-sm-7 .lead {
   margin-left: 0;
   padding-left: 0;
  }

  .pb-sm-left {
    text-align: left;
  }
  .pb-sm-center {
    text-align: center;
  }
  .pb-sm-right {
    text-align: right;
  }
}

.pb-img {
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,0.35);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,0.35);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,0.35);
  margin-top: 10px;
  margin-bottom: 10px;
}

.pb-sm-img {
  max-width: 200px;
}

.pb-lg-img {
  max-width: 650px;
}

.pb-md-img {
    max-width: 450px;
}

.blog-related-posts {
  color: #aaa;
  margin-top: 40px;
}

.bs-callout code {
  background-color: transparent;
}

.bs-docs-footer {
  margin-top: 60px;
}


.nav.nav-tabs {
  margin-bottom: 15px;
  font-weight: bold;
}

.bs-callout {
  padding-top: 0px;
  padding-bottom: 10px;
}

#chart_div {
  height: 400px;
}

.docs-sidebar {
  margin-top: 20px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
}

.docs-sidebar .nav>li>a{
  padding: 0px;
  padding-bottom: 10px;
  color: #555;
}
.docs-sidebar .nav>li>a:hover{
  color: #337ab7;
  background: transparent;
}

.docs-sidebar .nav>li>a.selected {
  color: #337ab7;
}

.docs-sidebar h5 {
  font-weight: 700;
  font-size: 13px;
  margin-top: 15px;
}

.bs-docs-nav {
    border-bottom: solid 1px #AAA;
}

.bg-info {
  padding: 10px;
  border-radius: 5px;
}

.bg-warning {
  padding: 10px;
  border-radius: 5px;
}

.bg-danger {
  padding: 10px;
  border-radius: 5px;
}

table.jsfiddle-line-number {
    width: 100%;
    border: 0;
}

table.jsfiddle-line-number .line-number {
    padding-top: 61px;
    vertical-align: text-top;
    line-height: 21px;
    width: 17px;
    color: #aaa;
    font-size: 13px;
    text-align: right;
}

.blog-date {
  margin-top: 45px;
  text-align: right;
  width: 80%;
  font-size: 20px;
  color: #aaa;
}

#example-tab {
  padding-left:10px;
}

#example-tab li {
  margin-bottom: 6px;
}

table:not(.jsfiddle-line-number) {
    table-layout: fixed;
    word-wrap: break-word;
}

div.pl-doc-entry{
  position: absolute;
}

.prebid-mobile-notice {
    margin-top: 2em;
}

@media (max-width: 411px) {
	
	#headerwrap h1 {
    	margin-top: 60px;
		font-size: 23px;
  	}
  	
  	#headerwrap h2 {
    	margin: 30px;
		font-size: 20px;
  	}
  	
  	#headerwrap .header-links { 
		position: absolute; 
		bottom: 120px; 
		text-align: center;
		width: 100%; 
		height: 320px; 
		color: #fff;
		padding-bottom: 0;
	}
	
	headerwrap li { 
	  	font-size: 14px;
	  	display: block !important;
	  	padding: 10px 0px;
	  	text-align: center;
	  	width: 100%;

	}
	
	.credits { 
		font-size: 15px;
	}
	
		

}

@media (max-width: 375px) {
	
	#headerwrap {
    	padding-top: 20px;
  	}
  	
  	#headerwrap h1 {
    	margin-top: 60px;
		font-size: 24px;
  	}
  	
  	#headerwrap h2 {
    	margin: 30px;
		font-size: 20px;
  	}
  	
  	#headerwrap .header-links { 
		position: absolute; 
		bottom: 60px; 
		text-align: center;
		width: 100%; 
		height: 320px; 
		color: #fff;
		padding-bottom: 0;
	}

  	
  	#headerwrap li { 
	  	font-size: 14px;
	  	display: block !important;
	  	padding: 10px 0px;
	  	text-align: center;
	  	width: 100%;

	}	
	
	.credits { 
		font-size: 15px;
	}

}

@media (max-width: 360px) { 
	
	.credits { 
		font-size: 15px;
	}
	
}

	


/* Copyrights */

#copyrights {
  background: #3498db;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #fff;
}

#copyrights a {
  color: #fff;
}

.credits {
  color: #fff;
}

/* these should be generated by Jekyll?*/

.bs-docs-social{margin-bottom:20px;text-align:center}
.bs-docs-social-buttons{display:inline-block;margin-bottom:0;padding-left:0;list-style:none}
.bs-docs-social-buttons li{display:inline-block;line-height:1;padding:5px 8px}
.bs-docs-social-buttons .twitter-follow-button{width:225px!important}
.bs-docs-social-buttons .twitter-share-button{width:98px!important}

.github-btn{border:0;overflow:hidden}


.bs-docs-footer-links  { 
	list-style-type: none; 
	margin: 0;
	overflow: hidden; 
	padding: 0; 
	text-decoration: none; 
}

.bs-docs-footer-list { 
	text-align: center;
	color: #fff;
	float: left; 
}
