.pb-header {
  .navbar {
    background: $t-brand-color--dark;
  }

  .navbar-brand > img {
    display: block;
    max-width: 140px;
    max-height: 25px;
  }

  .dropdown-toggle::after {
    content: none;
  }

  .nav-item {
    margin-right: 32px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .nav-link {
    position: relative;
    font-size: 16px;
    text-decoration: none;

    @include media('>=tablet') {
      &[aria-expanded="true"]::after {
        @include position(absolute, null null 0 50%);
        @include triangle('up', 11px, 8px, $color--white);
        transform: translateX(-50%);
        content: '';
      }
    }
  }

  .dropdown-menu {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.16);
  }

  .dropdown-item {
    font-size: 15px;
    text-decoration: none;

    &:hover {

    }
  }
}
