.pb-content {
  .bidder-filter {
    padding: 10px 15px;
    border: 1px solid #b3c1cc;
    background-color: rgba(236, 243, 245, 0.35);

    &:focus {
      outline: none;
    }
  }

  .c-bidder-list-group {
    h4 {
      color: #797f90;
      font-size: 19px;
      font-weight: 700;
    }
  }

  .c-bidder-list {
    padding-left: 0;
    columns: 2;

    li {
      padding-bottom: 5px;

      &::before {
        content: none !important;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
