.btn-outline-brand {
  @include button-outline-variant($t-button-color, $color--white);
  @include font-weight-bold;
  padding: 18px 68px 15px;
  border-color: $color--light-iron;
  font-size: 18px;
  text-decoration: none;
}
