.pb-lg-img {
  width: 70%;
  height: 70%;
}

.row > .wrapper {
  @include make-row
}

.pb-content {
  padding: 22px 30px;
  border: 1px solid $t-divider-color;
  background-color: $color--white;
  font-size: 19px;
  line-height: (30 / 19);

  h1 {
    margin-bottom: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid $t-divider-color;
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
  }

  ul {
    padding-left: 20px;
    list-style: none;

    li {
      position: relative;

      &::before {
        @include position(absolute, 10px null null -20px);
        @include size(7px);
        border: 1px solid #707070;
        border-radius: 50%;
        background: #333;
        content: '';
      }
    }
  }
}

.pb-docs-container {
  margin-top: 65px;
}

