.pb-lg-img {
  width: 70%;
  height: 70%;
}

.row > .wrapper {
  @include make-row
}

@include media('>=tablet') {
  .pb-docs-container > .row > .col-lg-3.sidebar {
    flex: 0 0 22%;
    max-width: 22%;

    + .col-lg-9 {
      flex: 0 0 78%;
      max-width: 78%;
    }
  }
}

.pb-docs-container + .pb-footer {
  margin-top: 180px;
}

.pb-content {
  $lt-content-font-size: 19px;

  padding: 22px 30px;
  border: 1px solid $t-divider-color;
  background-color: $color--white;
  font-size: $lt-content-font-size;
  line-height: (30 / 19);

  > .pb-content {
    margin: 0;
    padding: 0;
    border: none;
  }

  h1 {
    margin-bottom: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid $t-divider-color;
    font-size: (2.441 * $lt-content-font-size);
  }

  h2 {
    margin-top: 35px;
    margin-bottom: 16px;
    font-size: (1.953 * $lt-content-font-size);
  }

  h3 {
    margin-top: 28px;
    font-size: (1.563 * $lt-content-font-size);
  }

  h4 {
    margin-top: 20px;
    font-size: (1.25 * $lt-content-font-size);
  }

  h5 {
    margin-top: 16px;
    font-size: $lt-content-font-size;
    font-style: italic;
  }

  ul {
    padding-left: 20px;
    list-style: none;

    li:not(.ui-tab) {
      position: relative;

      &::before {
        @include position(absolute, 10px null null -20px);
        @include size(7px);
        border: 1px solid #707070;
        border-radius: 50%;
        background: #333;
        content: '';
      }
    }
  }

  table.table {
    font-size: 16px;
    line-height: (28 / 16);

    th {
      @include padding(9px null);
      @include font-weight-semibold;
    }

    th, td {
      @include padding(null 15px);
    }
  }

  .pb-code-hl-wrap {
    width: 100%;
  }

  .highlight, .pb-code-hl {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 22px 20px;
    border: 1px solid $t-divider-color;
    background: $t-code-bg;
    font-size: 16px;

    pre {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      border: 0;
      background: none;
    }
  }
}

.pb-docs-container {
  margin-top: 20px;

  @include media('>=tablet') {
    margin-top: 65px;
  }
}

.pb-alert {
  @extend .alert;
  margin-top: 10px;
}

.pb-alert-important {
  @extend .alert-danger;
}

.pb-alert-warning {
  @extend .alert-warning;
}

.pb-alert-tip {
  @extend .alert-info;
}

.pbTable {
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;
}

.center-image
{
    margin: 0 auto;
    display: block;
}
