.pb-lg-img {
  width: 70%;
  height: 70%;
}

.row > .wrapper {
  @include make-row
}

.pb-content {
  padding: 22px 30px;
  background-color: $color--white;
  font-size: 19px;
  line-height: (30 / 19);

  h1 {
    margin-bottom: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid $t-divider-color;
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
  }
}

.pb-docs-container {
  margin-top: 65px;
}

.sidebar {
  a {
    text-decoration: none;
  }

  .collapse.is-active {
    display: block;
  }

  .list-group-item {
    display: block;

    &.is-active {
    }
  }

  .pb-section-title {
    color: $t-text-color;
    font-size: 20px;

    &.is-active {
      color: $t-text-color--reverse;
      background: #333;
    }
  }
}

