<script>
    window.pbjs = window.pbjs || {};
    pbjs.que = pbjs.que || [];
    pbjs.que.push(() => {
      pbjs.setConfig({
        debugging: {
          enabled: true,
          intercept: [
            {
              when: {},
              then: {
                cpm: 1,
                mediaType: "video",
                vastXml: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><VAST version=\"3.0\"><Ad><InLine><AdSystem>GDFP</AdSystem><AdTitle>Demo</AdTitle><Description><![CDATA[Demo]]></Description><Creatives><Creative><Linear ><Duration>00:00:11</Duration><VideoClicks><ClickThrough><![CDATA[https://adplayer.pro/]]></ClickThrough></VideoClicks><MediaFiles><MediaFile delivery=\"progressive\" width=\"640\" height=\"360\" type=\"video/mp4\" scalable=\"true\" maintainAspectRatio=\"true\"><![CDATA[https://static.adplayer.pro/video/demo_v2.mp4]]></MediaFile></MediaFiles></Linear></Creative></Creatives></InLine></Ad></VAST>"
              }
            },
          ]
        }
      })
    })
</script>