<!DOCTYPE html>
<html lang="en" class="html--no-js">

<head>
    {% include head--common.html %}
    <!--production version of prebid.js-->
    <!--<script async src="//cdn.jsdelivr.net/npm/prebid.js@latest/dist/not-for-prod/prebid.js"></script>-->

    <!--flowplayer & prebid js code-->
    <link rel="stylesheet" href="//cdn.flowplayer.com/releases/native/stable/style/flowplayer.css">
	<script src="//cdn.flowplayer.com/releases/native/stable/flowplayer.min.js"></script>
	<script src="//cdn.flowplayer.com/releases/native/stable/plugins/ads.min.js"></script>
	<script src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>

	<style>
	        #player {
	            max-width: 40em;
	            width: 100%;
	            float: left;
	        }

	        #controls {
	            float: left;
	            padding: 1em;
	        }
	    </style>

	<script type="text/javascript">
	  var options = {
	    biddersSpec: {
	      code: 'video1',
	      sizes: [640,480],
	      mediaTypes: {
	        video: {
                  context: 'instream',
                  playerSize: [640, 480],
                  mimes: ['video/mp4'],
                  protocols: [1, 2, 3, 4, 5, 6, 7, 8],
                  playbackmethod: [2],
                  skip: 1
	        }
	      },
	      bids: [
	        {
	          bidder: 'appnexus',
	          params: {
	            placementId: '13232361' // Add your own placement id here
	          }
	        }
	      ]
	    },
	    prebidConfigOptions: {
	      cache: {
	        url: 'https://prebid.adnxs.com/pbc/v1/cache'
	      }
	    },
	    dfpParameters: {
	      params: {
	        iu: '/19968336/prebid_cache_video_adunit',
	        cust_params: {
	          section: "blog",
	          anotherKey: "anotherValue"
	        },
	        output: "vast"
	      }
	    },
	  };
	  function doHeaderBidding() {
	    window.prebidPluginCP.doPrebid(options);
	  }

	</script>
	<script src="//acdn.adnxs.com/video/plugins/cp/PrebidPluginCP.min.js" onload="doHeaderBidding()"></script>
</head>

<body>
