<!DOCTYPE html>
<html lang="en" class="html--no-js">
  <head>
    {% include head--common.html %} {% include prebidjs-non-prod.html %}
    {% include loadScript.html %}
    {% include video/mock-video-bid.html %}


    <script type="text/javascript" class="cmplazyload" data-cmp-purpose="c51">
      loadScript('https://ssl.p.jwpcdn.com/player/v/8.0.5/jwplayer.js')
        .then(() => {
          //Test Key - replace this with your own valid JWPlayer license key
          jwplayer.key = "ssbF6k0i9BPe87xfG/s0ipdp5gwbLoZaDON/GQvuwPU9nVJy";

          window.pbjs = window.pbjs || {};
          pbjs.que = pbjs.que || [];

          var videoAdUnit = {
            code: "video1",
            mediaTypes: {
              video: {
                context: "instream",
                playerSize: [640, 480],
                mimes: ["video/mp4"],
                protocols: [1, 2, 3, 4, 5, 6, 7, 8],
                playbackmethod: [2],
                skip: 1,
              },
            },
            bids: [
              {
                bidder: "appnexus",
                params: {
                  placementId: 13232361, // Add your own placement id here
                },
              },
            ],
          };

          pbjs.que.push(function () {
            pbjs.addAdUnits(videoAdUnit); // add your ad units to the bid request
            pbjs.setConfig({
              debug: true,
              cache: {
                useLocal: true
              },
            });

            pbjs.requestBids({
              bidsBackHandler: function (bids) {
                pbjs.adServers.gam.getVastXml({
                  bid: bids.video1.bids[0],
                  adUnit: videoAdUnit,
                  params: {
                    iu: '/41758329/localcache',
                  },
                }).then(vastXml => {
                  window.runJWPlayer(vastXml);
                })

              },
            });
          });

        })
    </script>
  </head>

  <body></body>
</html>
