<!DOCTYPE html>
<html lang="en" class="html--no-js">

<head>
{% include head--common.html %}    
    <!--production version of prebid.js-->
    <script async src="//acdn.adnxs.com/prebid/not-for-prod/prebid.js"></script>
    
    <!--pbjs and player code -->	
    <script type="text/javascript" src="https://ssl.p.jwpcdn.com/player/v/8.0.5/jwplayer.js"></script>
	<script type="text/javascript">
	 jwplayer.key = "ssbF6k0i9BPe87xfG/s0ipdp5gwbLoZaDON/GQvuwPU9nVJy"; //Test Key - replace this with your own valid JWPlayer license key
	</script>

    	    
    <script type="text/javascript">
	    
      	var pbjs = pbjs || {};
	    pbjs.que = pbjs.que || [];
	
	    // define invokeVideoPlayer in advance in case we get the bids back from prebid before the entire page loads
	    var tempTag = false;
	    var invokeVideoPlayer = function(url) {
	        tempTag = url;
	    }
	
	    var videoAdUnit = {
	        code: 'video1',
	        mediaTypes: {
	            video: {
	                playerSize: [640, 480],
	                context: 'instream'
	            }
	        },
	        bids: [{
	            bidder: 'appnexus',
	            params: {
	                placementId: 13232361, // Add your own placement id here
	                video: {
	                    skipppable: true,
	                    playback_method: ['auto_play_sound_off']
	                }
	            }
	        }]
	    };
	
	    pbjs.que.push(function() {
	        pbjs.addAdUnits(videoAdUnit); // add your ad units to the bid request
	        pbjs.setConfig({
	            debug: true,
	            cache: {
	                url: 'https://prebid.adnxs.com/pbc/v1/cache'
	            }
	        });
	
	        pbjs.requestBids({
	            bidsBackHandler: function(bids) {
	                var videoUrl = pbjs.adServers.dfp.buildVideoUrl({
	                    adUnit: videoAdUnit,
	                    params: {
	                        iu: '/19968336/prebid_cache_video_adunit',
	                        cust_params: {
	                            section: 'blog',
	                            anotherKey: 'anotherValue'
	                        },
	                        output: 'vast'
	                    }
	                });
	                invokeVideoPlayer(videoUrl);
	            }
	        });
	    });
	</script>
    
</head>

<body>
