<!DOCTYPE html>
<html lang="en" class="html--no-js">
  <head>
    {% include head--common.html %}
    {% include prebidjs-non-prod.html %}

    <!--pbjs and player code -->

    <script>
      var pbjs = pbjs || {};
      pbjs.que = pbjs.que || [];

      // define invokeVideoPlayer in advance in case we get the bids back from prebid before the entire page loads
      var tempTag = false;
      var invokeVideoPlayer = function (url) {
        tempTag = url;
      };

      var videoAdUnit = {
        code: "video1",
        mediaTypes: {
          video: {
            context: "instream",
            playerSize: [640, 480],
            mimes: ["video/mp4"],
            protocols: [1, 2, 3, 4, 5, 6, 7, 8],
            playbackmethod: [2],
            skip: 1,
          },
        },
        bids: [
          {
            bidder: "appnexus",
            params: {
              placementId: 13232361, // Add your own placement id here
            },
          },
        ],
      };

      pbjs.que.push(function () {
        pbjs.addAdUnits(videoAdUnit); // add your ad units to the bid request

        pbjs.setConfig({
          debug: true,
          cache: {
            url: "https://prebid.adnxs.com/pbc/v1/cache",
          },
        });

        pbjs.requestBids({
          bidsBackHandler: function (bids) {
            var videoUrl = pbjs.adServers.dfp.buildVideoUrl({
              adUnit: videoAdUnit,
              params: {
                iu: "/19968336/prebid_cache_video_adunit",
                cust_params: {
                  section: "blog",
                  anotherKey: "anotherValue",
                },
                output: "vast",
              },
            });
            window.runJWPlayer(videoUrl);
          },
        });
      });
    </script>
  </head>

  <body></body>
</html>
