<!DOCTYPE html>
<html lang="en" class="html--no-js">

<head>
{% include head--common.html %}
    <!--production version of prebid.js-->
    <script async src="//cdn.jsdelivr.net/npm/prebid.js@latest/dist/not-for-prod/prebid.js"></script>

    <!--pbjs and player code -->

    <link rel="stylesheet" href="//cdn.flowplayer.com/releases/native/stable/style/flowplayer.css">
    <script src="//cdn.flowplayer.com/releases/native/stable/flowplayer.min.js"></script>
    <script src="//cdn.flowplayer.com/releases/native/stable/plugins/ads.min.js"></script>
    <script src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>

    <style>
	        #player {
	            max-width: 40em;
	            width: 100%;
	            float: left;
	        }

	        #controls {
	            float: left;
	            padding: 1em;
	        }
	    </style>

    <script type="text/javascript">

      var pbjs = pbjs || {};
      pbjs.que = pbjs.que || [];

      // The ad tag in Flowplayer can be actual ad tag or promise to an ad tag.
      // We return the ad tag if it is available before the player is ready to play
      // Otherwise the player waits for 2 secs for tag to be available.
      var adtag = null
      var timeout = 2000
      var asyncTag = function() {
        if (adtag) return Promise.resolve(adtag)

        return new Promise(function (resolve) {
          setTimeout(function() {
            resolve(adtag)
          }, timeout)
        })
      }

      /*
       Prebid Video adUnit
       */

      var videoAdUnit = {
        code: 'video1',
        sizes: [640,480],
        mediaTypes: {
          video: {
                context: 'instream',
                playerSize: [640, 480],
                mimes: ['video/mp4'],
                protocols: [1, 2, 3, 4, 5, 6, 7, 8],
                playbackmethod: [2],
                skip: 1
          }
        },
        bids: [
          {
            bidder: 'appnexus',
            params: {
              placementId: '13232361' // Add your own placement id here
            }
          }
        ]
      };

      pbjs.que.push(function(){
        pbjs.addAdUnits(videoAdUnit); // add your ad units to the bid request

        pbjs.setConfig({
          debug: true,
          cache: {
            url: 'https://prebid.adnxs.com/pbc/v1/cache'
          }
        });

        pbjs.requestBids({
          bidsBackHandler: function(bids) {
            var videoUrl = pbjs.adServers.dfp.buildVideoUrl({
              adUnit: videoAdUnit,
              params: {
                iu: '/19968336/prebid_cache_video_adunit',
                cust_params: {
                  section: "blog",
                  anotherKey: "anotherValue"
                },
                output: "vast"
              }
            });
            adtag = videoUrl;
          }
        });
      });

	</script>

</head>

<body>
