<!DOCTYPE html>
<html lang="en" class="html--no-js">

<head>
{% include head--common.html %}
    <!--production version of prebid.js-->
    <script async src="//cdn.jsdelivr.net/npm/prebid.js@latest/dist/not-for-prod/prebid.js"></script>

    <!--pbjs and player code -->

	<!-- LOAD OOYALA PLUGINS

     Load the Ooyala player scripts you plan to use.

     You must load the core player script, the scripts for
     whatever video formats you want to support, and the scripts
     for the ad manager you want to use.

     The scripts themselves and a guide for choosing which ones
     you need can be found here:

     https://help.ooyala.com/video-platform/documentation/concepts/pbv4_plugins.html
    -->

    <!-- CORE PLAYER REQUIRED -->
    <script src="//player.ooyala.com/static/v4/production/latest/core.min.js"></script>

    <!-- VIDEO PLUGINS -->
    <script src="//player.ooyala.com/static/v4/production/latest/video-plugin/main_html5.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/latest/video-plugin/bit_wrapper.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/latest/video-plugin/osmf_flash.min.js"></script>

    <!-- HTML5 SKIN -->
    <script src="//player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.min.js"></script>

    <!-- SKIN ASSET -->
    <link rel="stylesheet" href="//player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.min.css" />

    <!-- IMA PLUGIN -->
    <script src="//player.ooyala.com/static/v4/production/latest/ad-plugin/google_ima.js"></script>
    <script>
        var pbjs = pbjs || {};
        pbjs.que = pbjs.que || [];
        iosDevice = !!navigator.platform.match(/iPhone|iPod|iPad/);
        console.log("|||| Start of prebid: " + performance.now());

        /* PRE-DEFINE `invokeVideoPlayer`

           Because we have no way of knowing when all the bids will be
           returned from prebid we can't be sure that the browser will
           reach the point where `invokeVideoPlayer` is defined before
           bidsBackHandler fires and tries to call it.

           To prevent a `invokeVideoPlayer not defined` error, we
           pre-define it before we make the call to prebid, and redefine
           it later on with the code to create the player and play the
           ad. In this first version it simply stores the winning VAST to
           use later.  */

        var tempTag = false;
        var invokeVideoPlayer = function(url) {
            tempTag = url;
        }

        var videoAdUnit = {
            code: 'video1',
            mediaTypes: {
                video: {
                  context: 'instream',
                  playerSize: [640, 480],
                  mimes: ['video/mp4'],
                  protocols: [1, 2, 3, 4, 5, 6, 7, 8],
                  playbackmethod: [2],
                  skip: 1
                }
            },
            bids: [{
                bidder: 'appnexus',
                params: {
                    placementId: iosDevice ? 13239390 : 13232361
                }
            }]
        };

        pbjs.que.push(function() {
            pbjs.addAdUnits(videoAdUnit); // add your ad units to the bid request<br>

            /* Use the Prebid Cache - required for video ads */

            pbjs.setConfig({
                debug: true,
                cache: {
                    url: 'https://prebid.adnxs.com/pbc/v1/cache'
                }
            });

            pbjs.requestBids({
                bidsBackHandler: function(bids) {

                    /* Build the DFP video URL */

                    var videoUrl = pbjs.adServers.dfp.buildVideoUrl({
                        adUnit: videoAdUnit,
                        params: {
                            iu: '/19968336/prebid_cache_video_adunit',
                            cust_params: {
                                section: 'blog',
                                anotherKey: 'anotherValue'
                            },
                            output: 'vast'
                        }
                    });
                    invokeVideoPlayer(videoUrl);
                }
            });
        });

    </script>

</head>

<body>
