<!DOCTYPE html>
<html lang="en" class="html--no-js">

<head>
{% include head--common.html %}    
    <!--production version of prebid.js-->
    <script async src="//acdn.adnxs.com/prebid/not-for-prod/prebid.js"></script>
    
    <!--pbjs and player code -->	
    	    
    <script type="text/javascript">
	    
    
	    var pbjs = pbjs || {};
	    pbjs.que = pbjs.que || [];
	
	    var PREBID_TIMEOUT = 700;
	
	    var firstPlay = true;
	
	    var tempTag = false;
	    var invokeVideoPlayer = function(url) {
	        tempTag = url;
	    }
	
	    var videoAdUnit = {
	        code: 'video1',
	        mediaTypes: {
	            video: {
	                playerSize: [640, 480],
	                context: 'instream'
	            }
	        },
	        bids: [{
	            bidder: 'appnexus',
	            params: {
	                placementId: 13232361, // Add your own placement id here
	                video: {
	                    skipppable: true,
	                    playback_method: ['auto_play_sound_off']
	                }
	            }
	        }]
	    };
	
	    var requestVideoAd = function() {
	
	        pbjs.requestBids({
	            bidsBackHandler: function(bids) {
	                var videoUrl = pbjs.adServers.dfp.buildVideoUrl({
	                    adUnit: videoAdUnit,
	                    params: {
	                        iu: '/19968336/prebid_cache_video_adunit',
	                        cust_params: {
	                            section: 'blog',
	                            anotherKey: 'anotherValue'
	                        },
	                        output: 'vast'
	                    }
	                });
	                invokeVideoPlayer(videoUrl);
	            }
	        });
	    }
	
	    pbjs.que.push(function() {
	        pbjs.addAdUnits(videoAdUnit); // add your ad units to the bid request
	
	        pbjs.setConfig({
	            debug: true,
	            cache: {
	                url: 'https://prebid.adnxs.com/pbc/v1/cache'
	            }
	        });
	
	        requestVideoAd();
	    });
	
	</script>    	
    
</head>

<body>
