<!DOCTYPE html>
<html lang="en" class="html--no-js">

<head>
{% include head--common.html %}
    {% include prebidjs-non-prod.html %}

    <!--flowplayer & prebid js code-->
    <script>
		var pbjs = pbjs || {};
		pbjs.que = pbjs.que || [];
		iosDevice = !!navigator.platform.match(/iPhone|iPod|iPad/);

		/* PRE-DEFINE `invokeVideoPlayer`

		  Because we have no way of knowing when all the bids will be
		  returned from Prebid we can't be sure that the browser will
		  reach the point where `invokeVideoPlayer` is defined before
		  `bidsBackHandler` fires and tries to call it.

		  To prevent an "`invokeVideoPlayer` not defined" error, we
		  pre-define it before we make the call to Prebid, and redefine
		  it later on with the code to create the player and play the
		  ad.

		  In this first version, it simply stores the winning VAST to
		  use later. */

		var tempTag = false;
		var invokeVideoPlayer = function(url) {
			tempTag = url;
		}

		var videoAdUnit = {
			code: 'video1',
			mediaTypes: {
				video: {
				  context: 'instream',
				  playerSize: [640, 480],
				  mimes: ['video/mp4'],
				  protocols: [1, 2, 3, 4, 5, 6, 7, 8],
				  playbackmethod: [2],
				  skip: 1
				}
			},
			bids: [{
				bidder: 'appnexus',
				params: {
					placementId: iosDevice ? 13239390 : 13232361 // Add your own placement id here.
				}
			}]
		};

		pbjs.que.push(function() {
			pbjs.addAdUnits(videoAdUnit);
			pbjs.setConfig({
				debug: true,
				cache: {
					url: 'https://prebid.adnxs.com/pbc/v1/cache'
				}
			});
			pbjs.requestBids({
				bidsBackHandler: function(bids) {
					var videoUrl = pbjs.adServers.dfp.buildVideoUrl({
						adUnit: videoAdUnit,
						params: {
							iu: '/19968336/prebid_cache_video_adunit',
							cust_params: {
								section: 'blog',
								anotherKey: 'anotherValue'
							},
							output: 'vast'
						}
					});
					invokeVideoPlayer(videoUrl);
				}
			});
		});

	</script>

</head>

<body>
