<!DOCTYPE html>
<html lang="en" class="html--no-js">

<head>
{% include head--common.html %}
    <!--production version of prebid.js-->
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script async src="//cdn.jsdelivr.net/npm/prebid.js@latest/dist/not-for-prod/prebid.js"></script>

    <!--pbjs and player code -->

	<script>
	    var pbjs = pbjs || {};
	    pbjs.que = pbjs.que || [];

	    var adUnits = [{
	        code: 'video1',
	        mediaTypes: {
	            video: {
	                context: 'outstream',
			playerSize: [640, 480],
			mimes: ['video/mp4'],
			protocols: [1, 2, 3, 4, 5, 6, 7, 8],
			playbackmethod: [2],
			skip: 1
	            }
	        },
	        bids: [{
	            bidder: 'appnexus',
	            params: {
	                placementId: 13232385
	            }
	        }]
        }];

        pbjs.que.push(function() {
            pbjs.addAdUnits(adUnits);
            pbjs.requestBids({
                timeout: 1000,
                bidsBackHandler: function(bids) {
                    var highestCpmBids = pbjs.getHighestCpmBids('video1');
                    pbjs.renderAd(document, highestCpmBids[0].adId);
                }
            });
        });

    </script>

</head>

<body>
