<!DOCTYPE html>
<html lang="en" class="html--no-js">
  <head>
    {% include head--common.html %} {% include prebidjs-non-prod.html %}

    <!--pbjs and player code -->
    <script>
      var pbjs = pbjs || {};
      pbjs.que = pbjs.que || [];

      var adUnits = [
        {
          code: "video1",
          mediaTypes: {
            video: {
              context: "outstream",
              playerSize: [640, 480],
              mimes: ["video/mp4"],
              protocols: [1, 2, 3, 4, 5, 6, 7, 8],
              playbackmethod: [2],
              skip: 1,
            },
          },
          bids: [
            {
              bidder: "appnexus",
              params: {
                placementId: 13232385,
              },
            },
          ],
        },
      ];

      pbjs.que.push(function () {
        pbjs.addAdUnits(adUnits);
        pbjs.requestBids({
          timeout: 1000,
          bidsBackHandler: function (bids) {
            var highestCpmBids = pbjs.getHighestCpmBids("video1");
            var bid = highestCpmBids[0];
            if (bid) {
              pbjs.renderAd(document, bid.adId);
            } else {
              console.warn("No bids for video1");
            }
          },
        });
      });
    </script>
  </head>

  <body></body>
</html>
