{% include head.html %}

{% include nav.html %}


<div class="container pb-docs-container">

  <div class="row ">

            <div class="col-lg-3 sidebar" id="sidebar">

        <div>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#sidebarContent" aria-controls="sidebarContent" aria-expanded="false" aria-label="Toggle Sidebar navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse d-lg-block" id="sidebarContent">
                    {% include left_nav.html %}
          </div>
        </div>

            </div>

    <div class="col-lg-9">
      <div class="pb-content" markdown="1">

        {% if page.is_full_screen %}
          {{content}}
        {% else %}

          <div class="row">

            <div class="col-md-9" role="main">
              <div class="bs-docs-section">

                <h3>{{ page.title }}</h3>

                <h3>Features</h3>

                {{content}}

              </div>

            </div>

          </div>

        {% endif %}


      </div>


    </div>
  </div>
  <!--end row-->
</div>
  {% if page.title != "Credits" %}
    {% if page.layout != "home" %}
      {% include footer.html %}
    {% endif %}
  {% endif %}

</body>
</html>
