{% include head.html %}

{% include nav.html %}


<div class="container pb-docs-container">

  <div class="row ">

            <div class="col-lg-3 sidebar" id="sidebar">

        <div>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#sidebarContent" aria-controls="sidebarContent" aria-expanded="false" aria-label="Toggle Sidebar navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse d-lg-block" id="sidebarContent">
                    {% include left_nav.html %}
          </div>
        </div>

            </div>

    <div class="col-lg-9">
      <div class="pb-content" markdown="1">

        {% if page.is_full_screen %}
          {{content}}
        {% else %}

          <div class="row">

            <div class="col-md-12" role="main">
              <div class="bs-docs-section">
                <p><a href="/dev-docs/bidders.html">Back to Bidders</a></p>

                <h2>{{ page.title }}</h2>

                {% if page.enable_download == false %}
                  <div class="pb-bidder-s2">
                    <h4>Note:</h4> This adapter is not available in current versions of Prebid.js. Reason: {{page.pbjs_version_notes}}
                  </div>
                {% endif %}

                {% if page.s2s_only == true %}
                  <div class="pb-bidder-s2">
                    <h3>Note:</h3> This is a Prebid Server adapter only.
                  </div>
                {% endif %}

                <h3>Features</h3>

                {% include dev-docs/bidder-meta-data.html page=page %}

                {{content}}

                <h3>"Send All Bids" Ad Server Keys</h3>

                <font size="-1">These are the bidder-specific keys that would be targeted within GAM in a Send-All-Bids scenario. GAM truncates keys to 20 characters.</font>

                <table class="table table-bordered table-striped">
                  <tr>
                    <td class="pbTd"><code>{{ "hb_pb_" | append: page.biddercode | slice: 0,20 }}</code></td>
                    <td class="pbTd"><code>{{ "hb_bidder_" | append: page.biddercode | slice: 0,20 }}</code></td>
                    <td class="pbTd"><code>{{ "hb_adid_" | append: page.biddercode | slice: 0,20 }}</code></td>
                  </tr>
                  <tr>
                    <td class="pbTd"><code>{{ "hb_size_" | append: page.biddercode | slice: 0,20 }}</code></td>
                    <td class="pbTd"><code>{{ "hb_source_" | append: page.biddercode | slice: 0,20 }}</code></td>
                    <td class="pbTd"><code>{{ "hb_format_" | append: page.biddercode | slice: 0,20 }}</code></td>
                  </tr>
                  <tr>
                    <td class="pbTd"><code>{{ "hb_cache_host_" | append: page.biddercode | slice: 0,20 }}</code></td>
                    <td class="pbTd"><code>{{ "hb_cache_id_" | append: page.biddercode | slice: 0,20 }}</code></td>
                    <td class="pbTd"><code>{{ "hb_uuid_" | append: page.biddercode | slice: 0,20 }}</code></td>
                  </tr>
                  <tr>
                    <td class="pbTd"><code>{{ "hb_cache_path_" | append: page.biddercode | slice: 0,20 }}</code></td>
                    <td class="pbTd"><code>{{ "hb_deal_" | append: page.biddercode | slice: 0,20 }}</code></td>
                    <td class="pbTd"></td>
                  </tr>
                </table>

                {% if page.prevBiddercode %}
                  This bidder previously had a bidder code of `{{ page.prevBiddercode }}`, but prefers new configurations to use `{{ page.biddercode }}`.
                {% endif %}

                <p><a href="/dev-docs/bidders.html">Back to Bidders</a></p>
              </div>

              {% if page.show_disqus %}
                {% include disqus_addon.html %}
              {% endif %}
            </div>

          </div>

        {% endif %}


      </div>


    </div>
  </div>
  <!--end row-->
</div>
  {% if page.title != "Credits" %}
    {% if page.layout != "home" %}
      {% include footer.html %}
    {% endif %}
  {% endif %}

</body>
</html>
