{% include head.html %}

{% include nav.html %}

<div class="container pb-docs-container">

  <div class="row">

    <!-- Left nav -->
            <div class="col-lg-3 sidebar" id="sidebar">

        <div>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#sidebarContent" aria-controls="sidebarContent" aria-expanded="false" aria-label="Toggle Sidebar navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse d-lg-block" id="sidebarContent">
                    {% include left_nav.html %}
          </div>
        </div>

            </div>

    <!-- Main content -->
    <div class="col-lg-9">
      <div class="pb-content" markdown="1">

        <h1>{{ page.description }}</h1>

        {% if page.why_link %}
          <h4>Who should use this example:</h4>
          <ul>
            <li>Please refer to the <a href="{{page.why_link}}" target="_blank">product feature launch notes</a>.</li>
          </ul>
        {% endif %}

        <h4>About this example:</h4>

        <p>
          <ul>
            {% for about_bullet in page.about %}
              <li>{{ about_bullet}}</li>
            {% endfor %}
          </ul>
        </p>


        <div class="row">
          <!-- Build warning -->
          <div class="col-md-12">
            {% include dev-docs/not-for-production-warning.md %}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {{ content }}
          </div>
        </div>

        <div class="row">
          <!-- Build warning -->
          <div class="col-md-12">
            {% include dev-docs/build-from-source-warning.md %}
          </div>
        </div>
  
        <h2>Further Reading</h2>
        <p>
          <ul>
            <li>
              <a href="/dev-docs/getting-started.html">Getting Started for Developers</a>
            </li>
          <li>
            <a href="/troubleshooting/troubleshooting-guide.html">Troubleshooting Guide</a>
          </li>
          <li>
            <a href="/dev-docs/common-issues.html">Common Issues</a>
          </li>
        </ul>
      </p>

    </div>
      <!--end main content-->



    </div>
  </div>
</div>

{% include footer.html %}

</body>
</html>
