{% include head.html %}

{% include nav.html %}

<div class="container pb-docs-container">

  <div class="row">

    <!-- Left nav -->
            <div class="col-lg-3 sidebar" id="sidebar">

        <div>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#sidebarContent" aria-controls="sidebarContent" aria-expanded="false" aria-label="Toggle Sidebar navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse d-lg-block" id="sidebarContent">
                    {% include left_nav.html %}
          </div>
        </div>

            </div>

    <!-- Main content -->
    <div class="col-lg-9">
      <div class="pb-content" markdown="1">

        <h1>{{ page.description }}</h1>

        {% if page.why_link %}
          <h4>Who should use this example:</h4>
          <ul>
            <li>Please refer to the <a href="{{page.why_link}}" target="_blank">product feature launch notes</a>.</li>
          </ul>
        {% endif %}

        <h4>About this example:</h4>

        <p>
          <ul>
            {% for about_bullet in page.about %}
              <li>{{ about_bullet}}</li>
            {% endfor %}
          </ul>
        </p>


        <div class="row">
          <!-- Build warning -->
          <div class="col-md-12">
            {% include dev-docs/not-for-production-warning.md %}
          </div>
        </div>

    <p></p>
        <p>
          In the JSFiddle example below:
        <ul><li>Click <b>Result</b> to see the example output.</li>
            <li>Click <b>Edit in JSFiddle</b> to open the example in the JSFiddle editor in a new tab.</li></ul>
        </p>


        <div class="row">
          <!-- JSFiddle -->
          <div id="jsfiddle" class="col-md-12"> 
            <h2>(Sorry, JSFiddle code examples aren't available with your cookie privacy settings.)</h2>
            <p><a class="optanon-show-settings">Cookie Settings</a></p><br/>
          </div>
        </div>

        <div class="row">
          <!-- Build warning -->
          <div class="col-md-12">
            {% include dev-docs/build-from-source-warning.md %}
          </div>
        </div>
  
        <h2>Further Reading</h2>
        <p>
          <ul>
            <li>
              <a href="/dev-docs/getting-started.html">Getting Started for Developers</a>
            </li>
          <li>
            <a href="/troubleshooting/troubleshooting-guide.html">Troubleshooting Guide</a>
          </li>
          <li>
            <a href="/dev-docs/common-issues.html">Common Issues</a>
          </li>
        </ul>
      </p>

    </div>
      <!--end main content-->



    </div>
  </div>
</div>

<script type="text/javascript">
function runOt() {
  OneTrust.InsertHtml('<iframe width="100%" height="{{page.code_height}}" src="//{{page.jsfiddle_link}}" allowfullscreen="allowfullscreen" frameborder="0"></iframe>', 'jsfiddle', null, {deleteSelectorContent: true}, 3); 
}
function onOtLoad(cb) {
    const tmr = setInterval(function () {
        if (window.OneTrust != null) {
            clearInterval(tmr);
            cb();
        }
    }, 100);
}
onOtLoad(runOt);
</script>
{% include footer.html %}

</body>
</html>
