{% include head.html %}

{% include nav.html %}

<div class="homepage">
	
	<div class="pb_homewrapper">
		<div class="pb_homewrapper_img">
			<img src="/assets/images/homepage/pbhp_bg.png">
		</div>
		
		<div class="pb_homewrapper_content">
			<div class="row">
				<div class="col-lg-12">
					<h1>Header bidding unwrapped</h1>
					<h2>Earn more from your advertising with Prebid, a transparent, open-source solution that increases advertiser demand while maintaining a fast and responsive user experience.</h2>
        		</div>
			</div>
			
			<div class="row">
				<div class="header-links">
					
					<div class="header-links-item"><a href="/developers.html"><img src="/assets/images/svg/icn_developers.svg"></a><p>Developers</p></div>
					<div class="header-links-item"><a href="/prebid/prebidjs.html"><img src="/assets/images/svg/icn_getstarted.svg" class="large"></a><p>Get Started!</p></div>
					<div class="header-links-item"><a href="/adops.html"><img src="/assets/images/svg/icn_adops.svg"></a><p>Ad Ops</p></div>
				</div>
			</div>
			
			
			<div class="row">
				<div class="pb_home_belowfold">
					<div class="col-lg-12">
						<div class="pb_home_belowfold_contentbox">
							
							<h2>The Benefits Of Using Prebid</h2>
							
							<div class="pb_home_belowfold_panel panel_left">
								<div class="col-sm-3">
									<img src="/assets/images/icons/icnMonetization.png" class="pb_panel_img">
								</div>
							
								<div class="col-sm-8">
									<h3>Maximize Earnings</h3>
									<span>Bring additional advertiser demand into your ad server, ensuring you get the best possible price for your inventory.</span>
								</div>
							</div>
							
							<div class="pb_home_belowfold_panel panel_right">
								<div class="col-sm-3">
									<img src="/assets/images/icons/icnMultiPlatform.png" class="pb_panel_img">
								</div>
							
								<div class="col-sm-8">
									<h3>Use it Everywhere</h3>
									<span>Apply header bidding to the most popular platforms and formats, including web, mobile app, video, native, AMP, and server-to-server.</span>
								</div>
							</div>
							
							<!-- second row-->
						
							<div class="pb_home_belowfold_panel panel_left">
								<div class="col-sm-3">
									<img src="/assets/images/icons/icnGetStarted.png" class="pb_panel_img">
								</div>
							
								<div class="col-sm-8">
									<h3>Get Started Quickly</h3>
									<span>Follow simple step-by-step instructions to download, integrate, and configure header bidding with Prebid.</span>
								</div>
							</div>
							
							<div class="pb_home_belowfold_panel panel_right">
								<div class="col-sm-3">
									<img src="/assets/images/icons/icnOpenSource.png" class="pb_panel_img">
								</div>
							
								<div class="col-sm-8">
									<h3>Join The Community</h3>
									<span>Become part of our active community of advertising technology experts, where you can quickly resolve issues and contribute to the evolution of the leading header bidding solution.</span>
								</div>
								
							</div>
							
						</div>
						<!--end content box-->
					</div>
				</div>
				<!--end belowfold-->
			</div>
			<!--end row-->		
		
		
			<div class="row">
				<div class="col-lg-12">
					<div class="pb_home_belowfold_carousel">
						<h2>Product Highlights</h2>
						
						<!--begin carousel-->
						<div class="row mt centered">
							<div class="col-lg-6 col-lg-offset-3">
								<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						
						          <!-- Wrapper for slides -->
						          <div class="carousel-inner">
						            <div class="item active">
						              <h2>Prebid.js</h2>
						              <h4>A feature-rich header bidding platform for the web, including more than 150 demand sources and 15 analytics adapters. Supports currency conversion, GDPR, common ID systems, and multiple ad servers.</h4>
						            </div>
						            <div class="item">
						              <h2>Prebid Mobile SDK</h2>
						              <h4>Header bidding for your iOS and Android apps. Combine Prebid SDK and Prebid Server for a great user experience and easy management.</h4>
						            </div>
						            <div class="item">
						              <h2>Prebid Server</h2>
						              <h4>A server-side header bidding solution with more than 20 demand sources. Hosted by a number of companies in highly available and geo-distributed clusters, Prebid Server lightens the load on browsers, while also enabling mobile app and AMP.</h4>
						            </div>
						            
						            <!-- Indicators -->
						          <ol class="carousel-indicators">
						            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
						            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						          </ol>
						          
						          <!-- Indicators -->
							          <div class="pb_carousel_indicators">
								          <ol class="carousel-indicators">
								            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
								            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
								          </ol>
							          </div>
							          
						        </div>
						        
						        
							</div>
						</div>
						<!--end carousel-->
					</div>
				</div>
			</div>
			<!-- /row -->
			
		</div>
		<!--end pb_homewrapper_content-->
	</div>
	<!--end wrapper-->
	
	<p></p>

	{% include footer.html %}
</div>
<!--end homepage-->
    


  <!-- Template Main Javascript File -->
  <script src="/assets/js/main.js"></script>