
{% include head.html %}

{% include nav.html %}
    
  <div id="headerwrap">
	  <div class="row">
		  <h1>Header bidding unwrapped</h1>
		  <h2>Earn more from your advertising with Prebid, a transparent, open-source solution that provides a fast and responsive experience.</h2>
        <div class="col-lg-6">
        </div>
	    <div>
		    <!--<images src="images/topgraph.png" class="bg">-->
		</div>
	  </div>
	  
	  <div class="header-links">
		  <ul>
			  <li><img src="/assets/images/icons/icnDevelopers_wh-sh.png"><br>Developers</li>
			  <li><img src="/assets/images/icons/icnGetStarted_wh-sh.png"><br>Get Started!</li>
			  <li><img src="/assets/images/icons/icnAdOps_wh-sh.png"><br>Ad Ops</li>
		  </ul>
	  </div>
  </div>
  <!-- /headerwrap -->


  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>The Benefits Of Using Prebid.</h1>
        <h3>Some real good marketing text to lead us into the four benefits we list below!</h3>
      </div>
    </div>
    <!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <img src="/assets/images/icons/icnMonetization_org-sh.png" width="180" alt="Monetization">
        <h4>Maximize Earnings</h4>
        <p>Bring additional advertiser demand into your ad server, ensuring you get the best possible price for your inventory.</p>
      </div>
      <!--/col-lg-4 -->

	  
      <div class="col-lg-4">
	      <!--
        <images src="images/ser02.png" width="180" alt="">
        <h4>2 - Email Campaigns</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
		-->
      </div>
      <!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="/assets/images/icons/icnMultiPlatform_org-sh.png" width="180" alt="Multi-Platform">
        <h4>Use it Everywhere</h4>
        <p>Apply header bidding to the most popular platforms and formats, including web, mobile app, video, native, AMP, and server-to-server.
</p>

      </div>
      <!--/col-lg-4 -->
    </div>
    <!-- /row -->
    
    <div class="row mt centered">
      <div class="col-lg-4">
        <img src="/assets/images/icons/icnEasyInstall_org-sh.png" width="180" alt="Easy Install">
        <h4>Get Started Quickly</h4>
        <p>Follow simple step-by-step instructions to download, integrate, and configure header bidding with Prebid.
</p>
      </div>
      <!--/col-lg-4 -->

	  
      <div class="col-lg-4">
	      <!--
        <images src="images/ser02.png" width="180" alt="">
        <h4>2 - Email Campaigns</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
		-->
      </div>
      <!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="/assets/images/icons/icnOpenSource_org-sh.png" width="180" alt="Open Source">
        <h4>Join The Community</h4>
        <p>Become part of our active community of advertising technology experts, where you can quickly resolve issues and contribute to the evolution of the leading header bidding solution. </p>

      </div>
      <!--/col-lg-4 -->
    </div>
    <!-- /row -->
   <hr>
  </div>
  <!-- /container -->

  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Prebid News.</h1>
        <h3>Based on the meeting yesterday I thought we might do a carousel of news...</h3>
      </div>
    </div>
    <!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/assets/images/pb_slide01.png" alt="">
            </div>
            <div class="item">
              <img src="/assets/images/pb_slide02.png" alt="">
            </div>
            <div class="item">
              <img src="/assets/images/pb_slide03.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- /col-lg-8 -->
    </div>
    <!-- /row -->
  </div>

  

  {% include footer.html %}



  <!-- Template Main Javascript File -->
  <script src="/assets/js/main.js"></script>

