{% include head.html %}

{% include nav.html %}

<div class="pb-homepage">
		
	<div class="container pb-homepage-container">
		
		<div class="row pb-margin-top">
			<div class="col-sm-2">&nbsp;</div>
			<div class="col-sm-8">
				<div class="pb-message-box">Visit <a href="https://www.prebid.org">Prebid.org</a> for general product overviews, blog updates, and additional information on membership and events.
				</div>
			</div>
			<div class="col-sm-2">&nbsp;</div>
  		</div>
  		
  		<div class="row">
			<div class="col-sm-2">&nbsp;</div>
			<div class="col-sm-8">
				<div class="pb-welcome-box" style="padding-bottom:15px; padding-top:15px;">
					<p style="font-size:24px; font-weight:700;">Prebid Documentation</p>
					<p>Welcome to the Prebid.org technical documentation portal.<br>Here you will find the help you need to work with the Prebid.org family of products.</p>
				</div>
			</div>
			<div class="col-sm-2">&nbsp;</div>
  		</div>
  		
  		<div class="row">
			<div class="col-sm-2"><h3>Product</h3></div>
			<div class="col-sm-8">
				
				<div class="row" style="padding-bottom:75px; padding-top:15px;">
					<div class="col-sm-4"><img src="/assets/images/docs/home/pb-hp-pbjs.png"><br><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 15px; font-weight: 600; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; background-color: #dddddd; margin-left:8px; width:93%; height:40px;">Prebid.js</p></div>
					<div class="col-sm-4"><img src="/assets/images/docs/home/pb-hp-pbs.png"><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 15px; font-weight: 600; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; background-color: #dddddd; margin-left:8px; width:93%; height:40px;">Prebid Server</p></div>
					<div class="col-sm-4"><img src="/assets/images/docs/home/pb-hp-pbm.png"><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 15px; font-weight: 600; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; background-color: #dddddd; margin-left:8px; width:93%; height:40px;">Prebid Mobile SDK</p></div>
				</div>
				
			</div>
			<div class="col-sm-2">&nbsp;</div>
  		</div>
  		
  		<div class="row">
			<div class="col-sm-2"><h3>Role</h3></div>
			<div class="col-sm-8">
				
				<div class="row" style="text-align:center; padding-bottom:75px; padding-top:15px;">
					<div class="col-sm-6"><img src="/assets/images/docs/home/pb-hp-roles-dev.png"><br><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 18px; font-weight: 600; color: #555555;">Developers</p></div>
					<div class="col-sm-6"><img src="/assets/images/docs/home/pb-hp-roles-adops.png"><br><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 18px; font-weight: 600; color: #555555;">Ad Ops</p></div>
				</div>
				
			</div>
			<div class="col-sm-2">&nbsp;</div>
  		</div>
  		
  		<div class="row">
			<div class="col-sm-2"><h3>Format</h3></div>
			<div class="col-sm-8">
				
				<div class="row" style="text-align:center; padding-bottom:75px; padding-top:15px;">
					<div class="row">
						<div class="col-sm-4"><img src="/assets/images/docs/home/pb-hp-format-display.png"><br><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 16px; font-weight: 600; color: #555555;">Display</p></div>
						<div class="col-sm-4"><img src="/assets/images/docs/home/pb-hp-format-video.png"><br><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 16px; font-weight: 600; color: #555555;">Video</p></div>
						<div class="col-sm-4"><img src="/assets/images/docs/home/pb-hp-format-amp.png"><br><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 16px; font-weight: 600; color: #555555;">AMP</p></div>
					</div>
					
					
					<div class="row">
						<div class="col-sm-6"><img src="/assets/images/docs/home/pb-hp-format-native.png"><br><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 16px; font-weight: 600; color: #555555;">Native</p></div>
						
						<div class="col-sm-6"><img src="/assets/images/docs/home/pb-hp-format-multi.png"><br><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 16px; font-weight: 600; color: #555555;">Multi-Format</p></div>
					</div>
					
				</div>
				
				<div class="row">
					<div class="col-sm-6"><img src="/assets/images/docs/home/pb-hp-dl.png"><br><p class="hp-link-title" style="font-family: roboto, sans-serif; font-size: 16px; font-weight: 600; color: #555555;">Download</p></div>
					<div class="col-sm-6">
						
						<div class="row">
							<div class="col-sm-8" style="padding:10px; border:1px solid gray;">Prebid.js</div>
						</div>
						
						<div class="row">
							<div class="col-sm-8" style="padding:10px; border:1px solid gray;">PBM</div>
						</div>
						
						<div class="row">
							<div class="col-sm-8" style="padding:10px; border:1px solid gray;">PBS</div>
						</div>
						
					</div>
				</div>
				
				<div class="row" style="text-align:center; padding-bottom:75px; padding-top:15px;">
					<div class="col-sm-6"><p style="font-family: verdana, sans-serif; font-size:24px; font-weight:400; padding: 40px;">Prebid is completely open source! Join our community of developers.</p></div>
					<div class="col-sm-6">
						
						<div class="row">
							<div class="col-sm-6">Prebid.js github</div>
							<div class="col-sm-6">PBS github</div>
						</div>
						
						<div class="row">
							<div class="col-sm-6">Prebid.js github</div>
							<div class="col-sm-6">PBS github</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-sm-2">&nbsp;</div>
			
			<hr width="100%" class="pb-rule">
			
			
  		</div>
		
							
	</div>
				
</div>


	

  <!-- Template Main Javascript File -->
  <script src="/assets/js/main.js"></script>
  
  
  
 </body>
  

  
