{% include head.html %}

{% include nav.html %}


<div class="container bs-docs-container" id="wrapper">
	
	<div container>
		<div class="row">
			
			<div class="col-sm-2 sidebar" id="sidebar-wrapper">
				
				{% case page.sidebarType %}
				{% when 0 %}
					<h3>Prebid.js</h3>
				{% when 1 %}
					<h3>Prebid Mobile</h3>
				{% when 2 %}
					<h3>Overview</h3>
				{% when 3 %}
					<h3>Ad Ops</h3>
				{% when 4 %}
					<h3>Prebid Video</h3>
				{% when 5 %}
					<h3>Prebid Server</h3>
				{% when 6 %}
					<h3>Examples</h3>
				{% when 7 %}
					<h3>Formats</h3>
				{% when 8 %}
					<h3>Modules</h3>
				{% when 9 %}
					<h3>Prebid.js Overview</h3>
				{% endcase %}
					
								
				
				{% for item in site.data.sidebar %}
				
					{% if item.sbSecId == page.sidebarType %}
					
					
						{% if item.isHeader == 1 %}
						
							<h4 class="list-group-item-header">{{item.title}}</h4>
							
						{% else %}
				
							<a href="{{item.link}}" class="list-group-item group-title">
								<h4 class="list-group-item">{{item.title}}</h4>
							</a>
							
							{% if item.isLastSubSectionItem == 1 %}
								<hr>
							{% endif %}
						
						
						{% endif %}
					
					{% endif %}
					
				{% endfor %}
				
				
			</div>
			
			
			<div class="col-sm-9 pb-content" markdown="1">
				
					<a href="#menu-toggle" class="btn btn-default pb_menu_btn" id="menu-toggle">Menu</a>
									
					{{ content }}
					
					{% if page.description == "Partners" %}
					
						{% include partners.html %}
						
					{% endif %}
				
			</div>
			
	</div>
</div>

<p></p>
<hr>

{% if page.title != "Credits" %}
	{% include footer.html %}
{% endif %}


 <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    



