{% include head.html %}

{% include nav.html %}


<div class="container bs-docs-container">
	
	<div container>
		<div class="row">
			
			<div class="col-sm-2 sidebar">
				
				{% for item in site.data.sidebar %}
				
					{% if item.sbSecId == page.sidebarType %}
					
					
						{% if item.isHeader == 1 %}
						
							<h4 class="list-group-item-header">{{item.title}}</h4>
							
						{% else %}
				
							<a href="{{item.link}}" class="list-group-item group-title">
								<h4 class="list-group-item">{{item.title}}</h4>
							</a>
							
							{% if item.isLastSubSectionItem == 1 %}
								<hr>
							{% endif %}
						
						
						{% endif %}
					
					{% endif %}
					
				{% endfor %}
				
				
			</div>
			
			
			<div class="col-sm-9 main-text" markdown="1">
					
					{{ content }}
					
					{% if page.description == "Partners" %}
					
						{% include partners.html %}
						
					{% endif %}
			</div>
			
	</div>
</div>

{% include footer.html %}



