{% include head.html %}

{% include nav.html %}

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9 pb-blog" role="main">
            <div class="bs-docs-section ">
		<div class="blog-date">
                   <h4>{{ page.date | date: '%B %d, %Y' }}</h4>
        	</div>
                <h2>{{page.title}}</h2> 
                {{content}}

		<hr>
                <div class="blog-related-posts">
                    <h4>Other blog posts:</h4>
                    <ul>
                        {% for p in site.posts %}
                            {% if p.id == page.id %}
                                {% continue %} 
                            {% endif %}
                            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
