{% include head.html %}

{% include nav.html %}

<style>
	
	.sidebar { 
		background-color:#EEEEEE; 
		min-width: 300px;
	}
		
	.wrapper { 
		display: flex; 
		height: 100vh; 
		align-items: stretch;
	}
	
	.pb-content { 
		color: white; 
		background-color: clear; 
		padding: 20px; 
		margin-left: 20px;
	}
	
	.picture {
    	height:100%;
		width: 100%;
		background-image: url('/assets/images/icons/icnGetStarted_wh-sh.png');
		background-repeat:no-repeat;
	}

	.picture:hover {
    	background-image: url('/assets/images/icons/icnGetStarted_wh-sh_on.png');
	}
		
		
</style>

<div class="container-fluid bs-docs-container">
	
	<div class="row">
		
		<div class="wrapper">
		
			<div class="sidebar">This is the side bar</div>
		
		
			<div class="picture pb-content">
				
				
				
			</div>

		</div>
	</div>
	
</div>



