{% include head.html %}

{% include nav.html %}

		
	<div class="pb-homepage">
		
		<div>
			<p style="font-weight: 300">This is font-weight set to 300.<p>
			<p style="font-weight: 400">This is font-weight set to 400.<p>
			<p style="font-weight: 500">This is font-weight set to 500.<p>
			<p style="font-weight: 600">This is font-weight set to 600.<p>
			<p style="font-weight: 700">This is font-weight set to 700.<p>
		<div>
		
		<!--footer-->
		<div class="pb-footer">
			This is the footer!
		</div>
	
	</div>
	<!--end homepage-->
	

  <!-- Template Main Javascript File -->
  <script src="/assets/js/main.js"></script>
  
  
  
 </body>
		
		




