
	
<!--<div id="tileContainer">
	
	<div id="leftTile">
		<p class="title">{{page.subHeaders[0]}}</p>
		<img src="{{ "/assets/images/icons/icnMonetization.png" | prepend: site.baseurl }}" class="fadeIn">
	</div>
	
	<div id="rightTile">
		<p class="title">{{page.subHeaders[1]}}</p>
		<img src="{{ "/assets/images/icons/icnMultiPlatform.png" | prepend: site.baseurl }}" class="fadeIn">
	</div>
	
</div>

<div id="tileContainer">
	
	<div id="leftTile">
		<p class="title">{{page.subHeaders[2]}}</p>
		<img src="{{ "/assets/images/icons/icnEasyInstall.png" | prepend: site.baseurl }}" class="fadeIn">
	</div> 
	
	<div id="rightTile">
		<p class="title">{{page.subHeaders[3]}}</p>
		<img src="{{ "/assets/images/icons/icnOpenSource.png" | prepend: site.baseurl }}" class="fadeIn">
	</div> 
	
</div>-->

<div class="grid" style="margin-top:10px; display:grid; grid-template-columns: auto auto; grid-template-rows: auto auto;grid-gap: 1em;">
	
	<div class="module" style="text-align: center;">
		<p style="font: bold 26px/52px Arial, Helvetica, sans-serif;padding: 50px 50px 0px 50px;margin-bottom: 20px;text-align: center;color: #FF9933;">{{page.subHeaders[0]}}</p>
		<img src="{{ "/assets/images/icons/icnMonetization.png" | prepend: site.baseurl }}" class="fadeIn">
		<p style="margin-top:20px; font: normal 20px/40px Arial, Helvetica, sans-serif;">Bring more advertiser demand, increase revenue.</p>
	</div>
	
	<div class="module" style="text-align: center;">
		<p style="font: bold 26px/52px Arial, Helvetica, sans-serif;padding: 50px 50px 0px 50px;margin-bottom: 20px;text-align: center;color: #FF9933;">{{page.subHeaders[1]}}</p>
		<img src="{{ "/assets/images/icons/icnMultiPlatform.png" | prepend: site.baseurl }}" class="fadeIn">
		<p style="margin-top:20px; font: normal 20px/40px Arial, Helvetica, sans-serif;">Compatible with most popular platforms and formats, including web, mobile app, video, native, AMP, and server-to-server.</p>
	</div>
	
	<div class="module" style="text-align: center;">
		<p style="font: bold 26px/52px Arial, Helvetica, sans-serif;padding: 50px 50px 0px 50px;margin-bottom: 20px;text-align: center;color: #FF9933;">{{page.subHeaders[2]}}</p>
		<img src="{{ "/assets/images/icons/icnEasyInstall.png" | prepend: site.baseurl }}" class="fadeIn">
		<p style="margin-top:20px; font: normal 20px/40px Arial, Helvetica, sans-serif;">Find everything you need to download, integrate, and configure header bidding with Prebid.</p>
	</div>
	
	<div class="module" style="text-align: center;">
		<p style="font: bold 26px/52px Arial, Helvetica, sans-serif;padding: 50px 50px 0px 50px;margin-bottom: 20px;text-align: center;color: #FF9933;">{{page.subHeaders[3]}}</p>
		<img src="{{ "/assets/images/icons/icnOpenSource.png" | prepend: site.baseurl }}" class="fadeIn">
		<p style="margin-top:20px; font: normal 20px/40px Arial, Helvetica, sans-serif;">Team up with an active and friendly open source organization that’s rapidly becoming an ad tech standard.</p>
	</div>
  
</div>
	

