{% if page.videoType == "pb-is-br" %}
	{% include /video/pb-is-br.html %}
{% elsif page.videoType == "pb-is-bc" %}
	{% include /video/pb-is-bc.html %}
{% elsif page.videoType == "pb-is-fp" %}
	{% include /video/pb-is-fp.html %}
{% elsif page.videoType == "pb-is-jw01" %}
	{% include /video/pb-is-jw01.html %}
{% elsif page.videoType == "pb-is-jw02" %}
	{% include /video/pb-is-jw02.html %}
{% elsif page.videoType == "pb-is-jw03" %}
	{% include /video/pb-is-jw03.html %}
{% elsif page.videoType == "pb-is-kl" %}
	{% include /video/pb-is-kl.html %}
{% elsif page.videoType == "pb-is-ol" %}
	{% include /video/pb-is-ol.html %}
{% elsif page.videoType == "pb-is-vjs" %}
	{% include /video/pb-is-vjs.html %}
{% elsif page.videoType == "pbs-br" %}
	{% include /video/pbs-br.html %}
{% elsif page.videoType == "pbs-jw01" %}
	{% include /video/pbs-jw01.html %}
{% elsif page.videoType == "pbs-jw02" %}
	{% include /video/pbs-jw02.html %}
{% elsif page.videoType == "pbs-jw03" %}
	{% include /video/pbs-jw03.html %}
{% elsif page.videoType == "pbs-jw04" %}
	{% include /video/pbs-jw04.html %}
{% elsif page.videoType == "pbs-kl" %}
	{% include /video/pbs-kl.html %}
{% elsif page.videoType == "pbs-oy" %}
	{% include /video/pbs-oy.html %}
{% elsif page.videoType == "pbs-vjs" %}
	{% include /video/pbs-vjs.html %}
{% elsif page.videoType == "pb-os-dfp" %}
	{% include /video/pb-os-dfp.html %}
{% elsif page.videoType == "pb-os-nas" %}
	{% include /video/pb-os-nas.html %}
{% elsif page.videoType == "pb-ve-lf-fw" %}
	{% include /video/pb-ve-lf-fw.html %}
{% endif %}


{% include nav.html %}

<div class="container bs-docs-container">
	
	<div class="row ">
		
		<div class="wrapper">
		
			<div class="col-sm-2 sidebar-expanded d-none d-md-block sidebar" id="sidebar">
				
				{% include left_nav.html %}							
				
			</div>	
		
		
			<div class="col-sm-9 pb-content" markdown="1">
			
			{{ content }}
			
			{% if page.description == "Partners" %}
				{% include partners.html %}
			{% endif %}
			
			</div>
				
		</div>
		<!--end wrapper-->
	</div>	
	<!--end row-->	
</div>

<p></p>
<hr>

{% if page.title != "Credits" %}
	{% if page.layout != "home" %}
		{% include footer.html %}
	{% endif %}
{% endif %}


<!--
<script type="text/javascript">
	$(document).ready(function () {
	    $('#sidebarCollapse').on('click', function () {
		   	$('#sidebar').toggleClass('active');
	    });
	});
</script>

-->


 

    



