// Colors
//
// These are named colors that are a part of the color palette or tint stack
// for the design. Colors should be named by how they look, not by where they
// are used.
//
// Markup: color-swatches.hbs
//
// Weight: -100
//
// Styleguide Colors

$color--black: #000;
$color--white: #fff;
$color--carbon: #333;
$color--blue: #1BA9E1;
$color--grey: #797F90;
$color--orange: #FF6F00;
$color--dark-grey: #505050;
$color--dove-cry-gray: #707070;
$color--aqua: #ECF3F5;
$color--light-iron: #dddfe3;
$color--cornflower-blue: #28AEE2;

$sg-colors: (

);
